{% extends 'comercial/base.html' %}

{% block content %}
{% load static %}
<div class="main-content">
    <!-- Top navbar -->
    <nav class="navbar navbar-top navbar-expand-md navbar-dark" id="navbar-main">
        <div class="container-fluid">
            <!-- Brand -->
            <a class="h4 mb-0 text-white text-uppercase d-none d-lg-inline-block" href="#">Meus clientes</a>

            {% include 'dashboard/menu_superior.html' %}
        </div>
    </nav>
    <!-- Header -->
    <div class="header bg-gradient-primary pb-8 pt-5 pt-md-8">

    </div>
    <!-- Page content -->
    <div class="container-fluid mt--7 painel-lucree">
        <div class="row mt-5">
            <div class="col-xl-12 mb-5 mb-xl-0">
                <div class="card shadow">
                    <div class="card-header border-0">
                        <div class="row align-items-center">
                            <div class="col">
                                <h3 class="mb-0">Meus clientes</h3>
                            </div>
                        </div>
                    </div>
                    {% if fail %}

                    <div class="alert alert-danger">
                        <strong>Problemas encontrados durante o credenciamento!</strong>
                    </div>

                    {% endif %}

                    {% if enviado %}

                    <div class="alert alert-success">
                        <strong>Credenciamento enviado com sucesso!</strong>
                    </div>

                    {% endif %}


                    <div class="table-responsive" style="background-color: #e9e9e9;padding: 30px;">
                        <!-- Projects table -->
                        <table id="example" class="display" style="width:100%">
                            <thead>
                            <tr>
                                <th>Nome do cliente</th>
                                <th>Documento do cliente</th>
                                <th>Fase de validação</th>
                                <th>Observação Documentação</th>
                                <th>Observação integrador</th>
                                <th>O que deseja fazer?</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for lojista in lojistas%}
                            <tr style="font-size: 12px;">
                                <td >
                                    {{lojista.nome}}
                                </td>
                                <td>
                                    {{lojista.documento}}
                                </td>
                                <td>
                                    {%if lojista.fase == 'Risco'%}
                                    <span class="badge badge-danger">Em análise</span>
                                    {%else%}
                                    <span class="badge badge-success">{{lojista.fase}}</span>
                                    {%endif%}
                                </td>
                                <td>
                                    {{lojista.mensagem_idwall}}
                                </td>

                                <td>
                                    {{lojista.mensagem_integrador}}
                                </td>

                                <td>
                                    <div class="dropdown">
                                        <button class="btn btn-warning dropdown-toggle btn-sm" type="button"
                                                id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
                                                aria-expanded="false">
                                            Ações
                                        </button>
                                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                            {%if lojista.mensagem_integrador == 'Contato responsável pelo estabelecimento não foi cadastrado'%}
                                            <a class="dropdown-item"
                                               href="/comercial/contato-responsavel/{{lojista.id}}">Alterar contato
                                                responsável</a>
                                            {%endif%}
                                            {%if lojista.mensagem_integrador == 'Taxas não encontradas'%}
                                            <a class="dropdown-item" href="/comercial/taxas/{{lojista.id}}">Alterar
                                                taxas</a>
                                            {%endif%}
                                            {%if lojista.mensagem_integrador == 'Endereço não encontrado'%}
                                            <a class="dropdown-item" href="/comercial/endereco/{{lojista.id}}">Alterar
                                                endereço</a>
                                            {%endif%}
                                            {%if lojista.mensagem_integrador == '' or lojista.mensagem_integrador == 'Falha ao enviar o credenciamento (4ward)'%}
                                            <a style="background-color: #89f274;" class="dropdown-item"
                                               href="/dashboard/skipper-integration-get/{{lojista.id}}">Enviar para
                                                credenciamento</a>
                                            {%endif%}
                                        </div>
                                    </div>
                                </td>

                            </tr>
                            {% endfor %}
                            </tbody>
                            <tfoot>
                            <tr>
                                <th>Nome do cliente</th>
                                <th>Documento do cliente</th>
                                <th>Fase de validação</th>
                                <th>Observação Documentação</th>
                                <th>O que deseja fazer?</th>
                            </tr>
                            </tfoot>
                        </table>
                    </div>

                </div>
            </div>
        </div>
        <!-- Footer -->
        <footer class="footer">
            <div class="row align-items-center justify-content-xl-between">
                <div class="col-xl-6">
                    <div class="copyright text-center text-xl-left text-muted">
                        &copy; 2018 E2F
                    </div>
                </div>
            </div>
        </footer>
    </div>
</div>

{% endblock %}