{% extends 'comercial/base.html' %}

{% block content %}
{% load static %}
<div class="main-content painel-lucree">
    <!-- Top navbar -->
    <nav class="navbar navbar-top navbar-expand-md navbar-dark" id="navbar-main">
        <div class="container-fluid">
            <!-- Brand -->
            <a class="h4 mb-0 text-white text-uppercase d-none d-lg-inline-block" href="#">Nova venda</a>

            <!-- User -->
            {% include 'dashboard/menu_superior.html' %}
        </div>
    </nav>
    <!-- Header -->

    <div id="header" class="header bg-gradient-primary pb-8 pt-5 pt-md-8">
    </div>

    <!-- Page content -->
    <div id="perfil" class="container-fluid mt--7 painel-lucree">
        <div class="row mt-5" style="margin-bottom: 120px">
            <div class="col-xl-12 mb-5 mb-xl-0">
                <div class="card shadow">
                    <div class="card-header border-0">
                        <div class="row align-items-center">
                            <div class="col">
                                <h3 class="mb-0">SELECIONAR CLIENTE EXISTENTE</h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12" style="background-color:#dedede;padding-top: 20px">
                            {% if venda_sucesso %}

                            <div class="alert alert-success">
                                <strong>Venda com sucesso! Estamos processando.</strong>
                            </div>

                            {% endif %}

                    <div class="col-md-12" style="background-color:#dedede;padding-top: 20px;padding-bottom: 20px;">
                            {% csrf_token %}
                            <table id="example" class="display" style="width:100%">
                                <thead>
                                <tr>
                                    <th>Nome/Razão Social</th>
                                    <th>CPF/CNPJ</th>
                                    <th>Ação</th>
                                </tr>
                                </thead>
                                <tbody>
                                {%for lojista in lojistas%}
                                <tr>
                                    <td>{{lojista.nome}}</td>
                                    <td>{{lojista.documento}}</td>
                                    <td><a href="/comercial/novo-pedido-recorrente/{{lojista.id}}/" class="btn btn-success btn-sm">Vender</a></td>
                                </tr>
                                {%endfor%}
                                </tbody>
                                <tfoot>
                                <tr>
                                    <th>Nome/Razão Social</th>
                                    <th>CPF/CNPJ</th>
                                    <th>Ação</th>

                                </tr>
                                </tfoot>
                            </table>
                    </div>
                </div>
            </div>
        </div>
        <!-- Footer -->
    </div>

    <div id="novo_cliente_title" class="container-fluid mt--7 painel-lucree">
        <div class="row mt-5" style="margin-bottom: 120px">
            <div class="col-xl-12 mb-5 mb-xl-0">
                <div class="card shadow">
                        <div class="card-header border-0">
                            <div class="row align-items-center">
                                <div class="col">
                                    <h3 class="mb-0">VENDA PARAR UM NOVO CLIENTE</h3>
                                </div>
                                <div class="col text-right">
                                    <a href="/comercial/novo-cliente/" class="btn btn-icon btn-sm btn-success" type="submit">
                                        <span class="btn-inner--icon"><i class="ni ni-fat-add"></i></span>
                                        <span class="btn-inner--text">Vender</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                </div>
            </div>
        </div>
        <!-- Footer -->

    </div>
    <!-- Page content -->


    </form>
    <footer class="footer">
        <div class="row align-items-center justify-content-xl-between">
            <div class="col-xl-6">
                <div class="copyright text-center text-xl-left text-muted">
                    &copy; 2018 E2F
                </div>
            </div>
        </div>
    </footer>
</div>
<div class="modal fade" id="modal-sucess" tabindex="-1" role="dialog" data-backdrop="static"
     aria-labelledby="exampleModalLabel">
    <div class="modal-dialog modal-dialog-centered" role="document">

        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="modal-title-default"></h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <br>
                <span style="font-weight: 700" id="titleError"></span> <br>
                <span id="fieldsError"></span>
            </div>
            <div class="modal-footer">
                <a href="/dashboard/merchants" type="button" id="btnOk" class="btn btn-primary">OK</a>
            </div>
        </div>
    </div>
</div>
</div>

</div>
<script>


</script>

{% endblock %}