{% extends 'comercial/base.html' %}

{% block content %}
{% load static %}
<div class="main-content painel-lucree">
    <!-- Top navbar -->
    <nav class="navbar navbar-top navbar-expand-md navbar-dark" id="navbar-main">
        <div class="container-fluid">
            <!-- Brand -->
            <a class="h4 mb-0 text-white text-uppercase d-none d-lg-inline-block" href="#">Novo cliente</a>
            <!-- User -->
            {% include 'dashboard/menu_superior.html' %}
        </div>
    </nav>
    <!-- Header -->

    <div id="header" class="header bg-gradient-primary pb-8 pt-5 pt-md-8">
    </div>

    <!-- Page content -->

    <form role="form" action="/comercial/cadastro-cliente/" id="search-doc" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div id="novo_cliente_documento" class="container-fluid mt--7 painel-lucree">
            {% if duplicated_user %}

            <div class="alert alert-danger">
                <strong>JÁ EXISTE UM CLIENTE COM O MESMO CNPJ/CPF CADASTRADO EM NOSSA BASE DE DADOS.</strong>
            </div>

            {% endif %}
            {% if form_errors %}
            <div class="alert alert-danger">
                <strong>
                    {{form.errors}}
                </strong>
            </div>
            {% endif %}
            <div class="row mt-5" style="margin-bottom: 120px">
                <div class="col-xl-9 mb-5 mb-xl-0">
                    <div class="card shadow">

                        <div class="card-header border-0">
                            <div class="row align-items-center">
                                <div class="col">
                                    <h3 class="mb-0">DOCUMENTO</h3>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-12" style="background-color:#dedede;padding-top: 20px">


                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>TIPO DE DOCUMENTO</label>
                                        {{form.tipo_doc}}
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>NÚMERO</label>
                                        {{form.numero}}
                                    </div>
                                </div>

                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>CATEGORIA DA EMPRESA</label>
                                        {{form.departamento_empresa}}
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-xl-3 mb-5 mb-xl-0">
                    <div class="card shadow">

                        <div class="card-header border-0">
                            <div class="row align-items-center">
                                <div class="col">
                                    <h3 class="mb-0">TERMINAIS</h3>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-12" style="background-color:#dedede;padding-top: 20px">


                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>QUANTIDADE</label>
                                        {{form.num_maquinas}}
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <!-- Footer -->

        </div>
        <div id="novo_cliente_endereco" class="container-fluid mt--7 painel-lucree">
            <div class="row mt-5" style="margin-bottom: 120px">
                <div class="col-xl-12 mb-5 mb-xl-0">
                    <div class="card shadow">
                        <div class="card-header border-0">
                            <div class="row align-items-center">
                                <div class="col">
                                    <h3 class="mb-0">DADOS DE ENDEREÇO</h3>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-12" style="background-color:#dedede;padding-top: 20px">


                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>CEP</label>
                                        {{form.cep}}
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>LOGRADOURO</label>
                                        {{form.endereco}}
                                    </div>
                                </div>

                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>NÚMERO ENDEREÇO</label>
                                        {{form.numero_endereco}}
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>COMPLEMENTO</label>
                                        {{form.complemento}}
                                    </div>
                                </div>

                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>BAIRRO</label>
                                        {{form.bairro}}
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>CIDADE</label>
                                        {{form.cidade}}
                                    </div>
                                </div>

                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>ESTADO</label>
                                        {{form.uf}}
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>TIPO DE ENDEREÇO</label>
                                        {{form.tipo_endereco}}
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <!-- Footer -->

        </div>


        <!--<div id="novo_cliente_cessao" class="container-fluid mt&#45;&#45;7 painel-lucree">-->
        <!--<div class="row mt-5" style="margin-bottom: 120px">-->
        <!--<div class="col-xl-12 mb-5 mb-xl-0">-->
        <!--<div class="card shadow">-->
        <!--<div class="card-header border-0">-->
        <!--<div class="row align-items-center">-->
        <!--<div class="col">-->
        <!--<h3 class="mb-0">TIPO DO EQUIPAMENTO</h3>-->
        <!--</div>-->
        <!--</div>-->
        <!--</div>-->
        {{form.maquina_cessao}}
        <!--<div class="col-md-12" style="background-color:#dedede;padding-top: 20px">-->
        <!--<div class="row">-->
        <!--<div class="col-md-6">-->
        <!--<div class="form-group">-->
        <!--<label>ESCOLHA O TIPO DA MÁQUINA (<strong>VENDA, ALUGUEL,-->
        <!--CESSÃO</strong>)?</label>-->
        <!--{{form.maquina_cessao}}-->
        <!--</div>-->
        <!--</div>-->

        <!--</div>-->

        <!--<div class="row cessao">-->
        <!--<div class="col-md-6">-->
        <!--<div class="form-group">-->
        <!--<label>TEM SPLIT?</label>-->
        <!--{{form.split}}-->
        <!--</div>-->
        <!--</div>-->
        <!--</div>-->

        <!--</div>-->
        <!--</div>-->
        <!--</div>-->
        <!--</div>-->
        <!--&lt;!&ndash; Footer &ndash;&gt;-->
        <!--</div>-->
        <div id="novo_cliente_financeiro" class="container-fluid mt--7 painel-lucree">
            <div class="row mt-5" style="margin-bottom: 120px">
                <div class="col-xl-12 mb-5 mb-xl-0">
                    <div class="card shadow">
                        <div class="card-header border-0">
                            <div class="row align-items-center">
                                <div class="col">
                                    <h3 class="mb-0">DADOS FINANCEIROS</h3>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-12" style="background-color:#dedede;padding-top: 20px">


                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>BANCO</label>
                                        {{form.banco}}
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>AGÊNCIA</label>
                                        {{form.agencia}}
                                    </div>
                                </div>
                            </div>

                            <div class="row ">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>CONTA</label>
                                        {{form.conta}}
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>DÍGITO DA CONTA</label>
                                        {{form.digito_conta}}
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>TIPO DA CONTA</label>
                                        {{form.tipo_conta}}
                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <!-- Footer -->
        </div>

        <div id="novo_cliente_financeiro_favorecido" class="container-fluid mt--7 painel-lucree cessao">
            <div class="row mt-5" style="margin-bottom: 120px">
                <div class="col-xl-12 mb-5 mb-xl-0">
                    <div class="card shadow">
                        <div class="card-header border-0">
                            <div class="row align-items-center">
                                <div class="col">
                                    <h3 class="mb-0">DADOS FINANCEIROS (FAVORECIDO)</h3>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-12" style="background-color:#dedede;padding-top: 20px">


                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>BANCO</label>
                                        {{form.banco_favorecido}}
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>AGÊNCIA</label>
                                        {{form.agencia_favorecido}}
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>CONTA</label>
                                        {{form.conta_favorecido}}
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>DÍGITO DA CONTA</label>
                                        {{form.digito_conta_favorecido}}
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>TIPO DA CONTA</label>
                                        {{form.tipo_conta_favorecido}}
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>CNPJ DO FAVORECIDO</label>
                                        {{form.cnpj_conta_favorecido}}
                                    </div>
                                </div>

                            </div>

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>RAZÃO SOCIAL DO FAVORECIDO</label>
                                        {{form.razao_social_favorecido}}
                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <!-- Footer -->
        </div>
        <div id="novo_cliente_split_pagamento" class="container-fluid mt--7 painel-lucree cessao">
            <div class="row mt-5" style="margin-bottom: 120px">
                <div class="col-xl-12 mb-5 mb-xl-0">
                    <div class="card shadow">
                        <div class="card-header border-0">
                            <div class="row align-items-center">
                                <div class="col">
                                    <h3 class="mb-0">SPLIT DE PAGAMENTO</h3>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-12" style="background-color:#dedede;padding-top: 20px">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>PORCENTAGEM DO CLIENTE</label>
                                        {{form.porcentagem_cliente}}
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>PORTENCAGEM DO FAVORECIDO</label>
                                        {{form.porcentagem_favorecido}}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Footer -->
        </div>
        <div id="novo_cliente_taxas" class="container-fluid mt--7 painel-lucree">
            <div class="row mt-5" style="margin-bottom: 120px">
                <div class="col-xl-12 mb-5 mb-xl-0">
                    <div class="card shadow">
                        <div class="card-header border-0">
                            <div class="row align-items-center">
                                <div class="col">
                                    <h3 class="mb-0">PLANOS</h3>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-12" style="background-color:#dedede;padding-top: 20px">
                            {{form.plano}}
                            <div class="text-center col-md-12 offset-md-2">
                                <div class="row">
                                    <div class="col-md-4 offset-md-2">
                                        <div class="form-group">
                                            <label>OPERADORA DA MAQUININHA</label>
                                            {{form.operadora}}
                                        </div>
                                    </div>
                                </div>
                                {% for plano in planos %}
                                {% if forloop.first %}
                                <div class="row">{%endif%}
                                    <div style="background-color: #fff; margin-left: 2px; margin-right: 2px; margin-bottom: 18px"
                                         class="col-md-4">
                                        <span class="h6 w-60 mx-auto px-4 py-1 rounded-bottom bg-primary text-white shadow-sm">{{plano.nome}}</span>
                                        <div class=" pt-0">
                                            <ul class="list-unstyled mb-4">
                                                <table class="prices">
                                                    <tr>
                                                        <th class="prices_line"><strong>Serviço</strong></th>
                                                        <th class="prices_line">Taxa</th>

                                                    </tr>
                                                    <tr>
                                                        <td class="prices_line"><strong>Débito</strong></td>
                                                        <td class="prices_line">{{plano.taxa_debito}}%</td>
                                                    </tr>
                                                    <tr>
                                                        <td class="prices_line"><strong>Crédito</strong></td>
                                                        <td class="prices_line">{{plano.taxa_credito}}%</td>

                                                    </tr>
                                                    <tr>
                                                        <td class="prices_line"><strong>Parcelado</strong></td>
                                                        <td class="prices_line">{{plano.taxa_parcelado}}%</td>
                                                    </tr>

                                                    <tr>
                                                        <td class="prices_line"><strong>Tipo de contratação</strong>
                                                        </td>
                                                        <td class="prices_line"><span class="badge badge-default">{{plano.tipo_contratacao}}</span>
                                                        </td>
                                                    </tr>

                                                    <tr>
                                                        <td class="prices_line"><strong>Adquirencia</strong></td>
                                                        <td class="prices_line">{{plano.adquirencia}}</td>
                                                    </tr>

                                                    <tr>
                                                        <td class="prices_line"><strong>Equipamento</strong></td>
                                                        <td class="prices_line">{{plano.produto.descricao}}</td>
                                                    </tr>

                                                </table>
                                            </ul>
                                            <a
                                                    style="color:#fff" class="btn btn-primary mb-3 selecionar_plano"
                                                    data-cessao="{{plano.tipo_contratacao}}" data-plano="{{plano.id}}">Selecionar
                                            </a>

                                        </div>
                                    </div>
                                    {% if forloop.counter|divisibleby:2 %}

                                </div>
                                <div class="row"> {% endif %}
                                    {% if forloop.last %}
                                </div>
                                {% endif %}
                                {%endfor%}

                            </div>
                            <div class="col-md-12 distribuidor" style="display:none">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>DISTRIBUIDOR</label>
                                            {{form.distribuidores}}
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>FOTO DO DOCUMENTO DA CESSÃO</label>
                                            {{form.foto_documento}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Footer -->
        </div>
        <div id="novo_cliente_pagamento" class="container-fluid mt--7 painel-lucree venda">
            <div class="row mt-5" style="margin-bottom: 120px">
                <div class="col-xl-12 mb-5 mb-xl-0">
                    <div class="card shadow">
                        <div class="card-header border-0">
                            <div class="row align-items-center">
                                <div class="col">
                                    <h3 class="mb-0">PAGAMENTO</h3>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-12" style="background-color:#dedede;padding-top: 20px">

                            <div class="row">

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>TIPO DE PAGAMENTO</label>
                                        {{form.tipo_pagamento}}
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>PARCELAS</label>
                                        {{form.parcelamento}}
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>COMPROVANTE DE PAGAMENTO (NSU/CV)</label>
                                        {{form.nsu}}
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>DATA DO PAGAMENTO</label>
                                        {{form.data_pagamento}}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Footer -->
        </div>

        <div id="novo_cliente_contato" class="container-fluid mt--7 painel-lucree">
            <div class="row mt-5" style="margin-bottom: 120px">
                <div class="col-xl-12 mb-5 mb-xl-0">
                    <div class="card shadow">
                        <div class="card-header border-0">
                            <div class="row align-items-center">
                                <div class="col">
                                    <h3 class="mb-0">RESPONSÁVEL</h3>
                                </div>
                                <button class="btn btn-icon btn-sm btn-success" type="submit">
                                    <span class="btn-inner--icon"><i class="ni ni-fat-add"></i></span>
                                    <span class="btn-inner--text">Adicionar e Vender</span>
                                </button>
                            </div>
                        </div>

                        <div class="col-md-12" style="background-color:#dedede;padding-top: 20px">

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>NOME</label>
                                        {{form.nome_responsavel}}
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>DOCUMENTO</label>
                                        {{form.documento_responsavel}}
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>TIPO</label>
                                        {{form.tipo_responsavel}}
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>DATA DE NASCIMENTO</label>
                                        {{form.nascimento_responsavel}}
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>SEXO</label>
                                        {{form.sexo_responsavel}}
                                    </div>
                                </div>

                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label>DDD</label>
                                        {{form.ddd_telefone_responsavel}}
                                    </div>
                                </div>

                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>TELEFONE</label>
                                        {{form.telefone_responsavel}}
                                    </div>
                                </div>


                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>EMAIL</label>
                                        {{form.email_responsavel}}
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>NACIONALIDADE</label>
                                        {{form.nacionalidade_responsavel}}
                                    </div>
                                </div>


                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Footer -->
        </div>

    </form>
    <footer class="footer">
        <div class="row align-items-center justify-content-xl-between">
            <div class="col-xl-6">
                <div class="copyright text-center text-xl-left text-muted">
                    &copy; 2018 E2F
                </div>
            </div>
        </div>
    </footer>
</div>
<div class="modal fade" id="modal-sucess" tabindex="-1" role="dialog" data-backdrop="static"
     aria-labelledby="exampleModalLabel">
    <div class="modal-dialog modal-dialog-centered" role="document">

        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="modal-title-default"></h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <br>
                <span style="font-weight: 700" id="titleError"></span> <br>
                <span id="fieldsError"></span>
            </div>
            <div class="modal-footer">
                <a href="/dashboard/merchants" type="button" id="btnOk" class="btn btn-primary">OK</a>
            </div>
        </div>
    </div>
</div>
</div>

</div>
<script>


</script>

{% endblock %}