{% extends 'comercial/base.html' %}

{% block content %}
{% load static %}
<div class="main-content painel-lucree">
    <!-- Top navbar -->
    <nav class="navbar navbar-top navbar-expand-md navbar-dark" id="navbar-main">
        <div class="container-fluid">
            <!-- Brand -->
            <a class="h4 mb-0 text-white text-uppercase d-none d-lg-inline-block" href="#">PEDIDO RECORRENTE</a>
            <!-- User -->
            {% include 'dashboard/menu_superior.html' %}
        </div>
    </nav>
    <!-- Header -->

    <div id="header" class="header bg-gradient-primary pb-8 pt-5 pt-md-8">
    </div>

    <!-- Page content -->

    <form role="form" action="/comercial/realiza-pedido-recorrente/" id="search-doc" method="POST">
        {% csrf_token %}
        {{form.hidden_client_id}}
        <div id="novo_cliente_pagamento" class="container-fluid mt--7 painel-lucree">
            <div class="row mt-5" style="margin-bottom: 120px">
                <div class="col-xl-12 mb-5 mb-xl-0">
                    <div class="card shadow">
                        <div class="card-header border-0">
                            <div class="row align-items-center">
                                <div class="col">
                                    <h3 class="mb-0">PEDIDO DO CLIENTE: {{lojista.nome}} | DOCUMENTO:
                                        {{lojista.documento}}</h3>
                                </div>
                                <button class="btn btn-icon btn-sm btn-success" type="submit">
                                    <span class="btn-inner--icon"><i class="ni ni-fat-add"></i></span>
                                    <span class="btn-inner--text">Realizar venda</span>
                                </button>
                            </div>
                        </div>

                        <div class="col-md-12" style="background-color:#dedede;padding-top: 20px">
                            {% if erro_validacao %}

                            <div class="alert alert-danger">
                                <strong>{{ erros }}</strong>
                            </div>

                            {% endif %}
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>TIPO DE PAGAMENTO</label>
                                        {{form.tipo_pagamento_simples}}
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>PARCELAS</label>
                                        {{form.parcelamento_simples}}
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>COMPROVANTE DE PAGAMENTO (NSU/CV)</label>
                                        {{form.nsu_simples}}
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>DATA DO PAGAMENTO</label>
                                        {{form.data_pagamento_simples}}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Footer -->
        </div>

    </form>
    <footer class="footer">
        <div class="row align-items-center justify-content-xl-between">
            <div class="col-xl-6">
                <div class="copyright text-center text-xl-left text-muted">
                    &copy; 2018 E2F
                </div>
            </div>
        </div>
    </footer>
</div>
<div class="modal fade" id="modal-sucess" tabindex="-1" role="dialog" data-backdrop="static"
     aria-labelledby="exampleModalLabel">
    <div class="modal-dialog modal-dialog-centered" role="document">

        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="modal-title-default"></h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <br>
                <span style="font-weight: 700" id="titleError"></span> <br>
                <span id="fieldsError"></span>
            </div>
            <div class="modal-footer">
                <a href="/dashboard/merchants" type="button" id="btnOk" class="btn btn-primary">OK</a>
            </div>
        </div>
    </div>
</div>
</div>

</div>
<script>


</script>

{% endblock %}