{% extends 'comercial/base_operadora.html' %}

{% block content %}
{% load static %}
<div class="main-content">
    <!-- Top navbar -->
    <nav class="navbar navbar-top navbar-expand-md navbar-dark" id="navbar-main">
        <div class="container-fluid">
            <!-- Brand -->
            <a class="h4 mb-0 text-white text-uppercase d-none d-lg-inline-block" href="#">Transações</a>
            {% include 'dashboard/menu_superior.html' %}
        </div>
    </nav>
    <!-- Header -->
    <div class="header bg-gradient-primary pb-8 pt-5 pt-md-8">
<div class="container-fluid">
            <div class="header-body">
                <div class="row">
                    <div class="col-md-4" style="margin-left:10px;padding: 10px;background-color: #e9e9e9;border-radius: 10px;">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label>Data inicial</label>
                                    <div class="input-group input-group-alternative">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="ni ni-calendar-grid-58"></i></span>
                                        </div>
                                        <input class="form-control" id="datepicker_from" placeholder="Data inicial" type="text">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label>Data inicial</label>
                                    <div class="input-group input-group-alternative">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="ni ni-calendar-grid-58"></i></span>
                                        </div>
                                        <input class="form-control" id="datepicker_to" placeholder="Data final" type="text">
                                    </div>
                                </div>
                            </div>
                            <button type="button" id="limpar_datas" class="btn btn-primary btn-sm float-right">Limpar datas</button>
                        </div>

                    <div class="col-xl-3 col-lg-6">
                        <div class="card card-stats mb-4 mb-xl-0">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col">
                                        <h5 class="card-title text-uppercase text-muted2 mb-0">Valor em vendas (Total)</h5>

                                        <span class="h2 font-weight-bold mb-0" id="total_atual">{{total_transacoes}}</span>


                                    </div>
                                    <div class="col-auto">
                                        <div class="icon icon-shape bg-green text-white rounded-circle shadow">
                                            <i class="fas fa-dollar-sign"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!-- Page content -->
    <div class="container-fluid mt--7 painel-lucree">
        <div class="row mt-5">
            <div class="col-xl-12 mb-5 mb-xl-0">
                <div class="card shadow">
                    <div class="card-header border-0">
                        <div class="row align-items-center">
                            <div class="col">
                                <h3 class="mb-0">Transações</h3>
                            </div>
                        </div>
                    </div>

                    <div class="table-responsive" style="background-color: #e9e9e9;padding: 30px;">
                        <!-- Projects table -->
                        <table id="distribuidora" class="display" style="width:100%">
                            <thead>
                            <tr>
                                <th>Valor da transação</th>
                                <th>Forma de pagamento</th>
                                <th>Parcelas</th>
                                <th>Bandeira</th>
                                <th>Data da transação</th>
                                <th>Nome do cliente</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for transacao in transacoes%}
                            <tr style="font-size: 12px;">
                                <td >
                                    {{transacao.transacao_valor}}
                                </td>
                                <td>
                                    {{transacao.tipo_pagamento}}
                                </td>

                                <td>
                                    {{transacao.parcelas}}
                                </td>

                                <td>
                                    {{transacao.transacao_bandeira}}
                                </td>

                                <td>
                                    {{transacao.data_pagamento|date:"d/m/Y"}}

                                </td>

                                <td>
                                    {{transacao.lojista_nome}}
                                </td>
                            </tr>
                            {% endfor %}
                            </tbody>
                            <tfoot>
                            <tr>
                                <th>Valor da transação</th>
                                <th>Forma de pagamento</th>
                                <th>Parcelas</th>
                                <th>Bandeira</th>
                                <th>Data da transação</th>
                                <th>Nome do cliente</th>
                            </tr>
                            </tfoot>
                        </table>
                    </div>

                </div>
            </div>
        </div>
        <!-- Footer -->
        <footer class="footer">
            <div class="row align-items-center justify-content-xl-between">
                <div class="col-xl-6">
                    <div class="copyright text-center text-xl-left text-muted">
                        &copy; 2018 E2F
                    </div>
                </div>
            </div>
        </footer>
    </div>
</div>

{% endblock %}