{% extends 'comercial/base.html' %}

{% block content %}
{% load static %}
<div class="main-content painel-lucree">
    <!-- Top navbar -->
    <nav class="navbar navbar-top navbar-expand-md navbar-dark" id="navbar-main">
        <div class="container-fluid">
            <!-- Brand -->
            <a class="h4 mb-0 text-white text-uppercase d-none d-lg-inline-block" href="#">Taxas</a>
            <!-- User -->
            {% include 'dashboard/menu_superior.html' %}
        </div>
    </nav>
    <!-- Header -->

    <div id="header" class="header bg-gradient-primary pb-8 pt-5 pt-md-8">
    </div>

    <!-- Page content -->

    <form role="form" action="/comercial/taxas/{{lojista.id}}" id="search-doc" method="POST"
          enctype="multipart/form-data">
        {% csrf_token %}

        <div id="novo_cliente_taxas" class="container-fluid mt--7 painel-lucree">
            <div class="row mt-5" style="margin-bottom: 120px">
                <div class="col-xl-12 mb-5 mb-xl-0">
                    <div class="card shadow">
                        <div class="card-header border-0">
                            <div class="row align-items-center">
                                <div class="col">
                                    <h3 class="mb-0">PLANOS: <spam style="color: #939292">{{lojista.nome}}</spam></h3>
                                </div>
                                <button class="btn btn-icon btn-sm btn-success" type="submit">
                                    <span class="btn-inner--icon"><i class="ni ni-fat-add"></i></span>
                                    <span class="btn-inner--text">Alterar</span>
                                </button>
                            </div>
                        </div>

                        <div class="col-md-12" style="background-color:#dedede;padding-top: 20px">
                            {% if success %}

                              <div class="alert alert-success">
                                <strong>Taxas cadastradas com sucesso!</strong>
                              </div>

                              {% endif %}

                            {{form.plano}}
                            <div class="container mb-5 mt-5">
                                <div class="pricing card-deck flex-column flex-md-row mb-3">
                                    <div id="planoa" class="card card-pricing text-center px-3 mb-4">
                                        <span class="h6 w-60 mx-auto px-4 py-1 rounded-bottom bg-primary text-white shadow-sm">Plano A</span>
                                        <div class="card-body pt-0">
                                            <ul class="list-unstyled mb-4">
                                                <table class="prices">
                                                    <tr>
                                                        <th class="prices_line">Serviço</th>
                                                        <th class="prices_line">Taxa</th>
                                                        <th class="prices_line">Prazo</th>
                                                    </tr>
                                                    <tr>
                                                        <td class="prices_line">Débito</td>
                                                        <td class="prices_line">1,99%</td>
                                                        <td class="prices_line">-</td>
                                                    </tr>
                                                    <tr>
                                                        <td class="prices_line">Crédito</td>
                                                        <td class="prices_line">2,99%</td>
                                                        <td class="prices_line">-</td>
                                                    </tr>
                                                    <tr>
                                                        <td class="prices_line">Parcelado</td>
                                                        <td class="prices_line">3,78%</td>
                                                        <td class="prices_line">-</td>
                                                    </tr>
                                                </table>
                                            </ul>
                                            <button type="button" id="btn_planoa" class="btn btn-primary mb-3">
                                                Selecionar
                                            </button>
                                        </div>
                                    </div>
                                    <div id="planob" class="card card-pricing  shadow text-center px-3 mb-4">
                                        <span class="h6 w-60 mx-auto px-4 py-1 rounded-bottom bg-primary text-white shadow-sm">Plano B</span>
                                        <div class="card-body pt-0">
                                            <ul class="list-unstyled mb-4">
                                                <table class="prices">
                                                    <tr>
                                                        <th class="prices_line">Serviço</th>
                                                        <th class="prices_line">Taxa</th>
                                                        <th class="prices_line">Prazo</th>
                                                    </tr>
                                                    <tr>
                                                        <td class="prices_line">Débito</td>
                                                        <td class="prices_line">2,39%</td>
                                                        <td class="prices_line">-</td>
                                                    </tr>
                                                    <tr>
                                                        <td class="prices_line">Crédito</td>
                                                        <td class="prices_line">3,39%</td>
                                                        <td class="prices_line">-</td>
                                                    </tr>
                                                    <tr>
                                                        <td class="prices_line">Parcelado</td>
                                                        <td class="prices_line">3,98%</td>
                                                        <td class="prices_line">-</td>
                                                    </tr>

                                                </table>

                                            </ul>
                                            <button id="btn_planob" target="_blank"
                                                    class="btn btn-primary mb-3">Selecionar
                                            </button>
                                        </div>
                                    </div>

                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <!-- Footer -->
        </div>

    </form>
    <footer class="footer">
        <div class="row align-items-center justify-content-xl-between">
            <div class="col-xl-6">
                <div class="copyright text-center text-xl-left text-muted">
                    &copy; 2018 E2F
                </div>
            </div>
        </div>
    </footer>
</div>
<div class="modal fade" id="modal-sucess" tabindex="-1" role="dialog" data-backdrop="static"
     aria-labelledby="exampleModalLabel">
    <div class="modal-dialog modal-dialog-centered" role="document">

        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="modal-title-default"></h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <br>
                <span style="font-weight: 700" id="titleError"></span> <br>
                <span id="fieldsError"></span>
            </div>
            <div class="modal-footer">
                <a href="/dashboard/merchants" type="button" id="btnOk" class="btn btn-primary">OK</a>
            </div>
        </div>
    </div>
</div>
</div>

</div>
<script>


</script>

{% endblock %}