.painel-lucree {
    background-color: #079d39;
}

.bg-gradient-primary {
    background: linear-gradient(87deg, #ffde2f 0, #f5d52d 100%) !important;
}

.footer {
    background: #079d39 !important;
}

.text-muted {
    color: #fff !important;
}

.text-muted2 {
    color: #000000;
}

.bg-white {
    background-color: #f6f6f6 !important;
}


/* LOGIN */


.gradiente-lucree {
    background: linear-gradient(87deg, #124a88 0, #124a88 100%) !important;
}
.text-light {
    color: #ffffff !important;
}

.bg-default {
    background-color: #00aeae !important;
}

.text-muted {
    color: #fff !important;
}

.header {
    padding-top: 10px !important;
}

.header-body {
    margin-bottom: 0 !important;
}