{% load static %}
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN" "http://www.w3.org/TR/REC-html40/loose.dtd"><html style="background-color: #ebebeb;">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"></head>
<body style="font-family: Verdana, Arial; font-weight: normal; margin: 0; padding: 0; text-align: left; color: #333333; background-color: #ebebeb; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; background: #ebebeb; font-size: 12px;"><table id="Table_01" width="650" height="1167" border="0" cellpadding="0" cellspacing="0" style="mso-table-lspace: 0pt; mso-table-rspace: 0pt; border-collapse: collapse; padding: 0; margin: 0;">
<tr>
<td colspan="10" style="font-family: Verdana, Arial; font-weight: normal; border-collapse: collapse; vertical-align: top; padding: 0; margin: 0;">
			<img style="display: block; -ms-interpolation-mode: bicubic;" src="https://bevipag.com.br/media/email/atualizacao/pedido_01.jpg" width="650" height="121" alt="">
</td>
	</tr>
<tr>
<td rowspan="10" style="font-family: Verdana, Arial; font-weight: normal; border-collapse: collapse; vertical-align: top; padding: 0; margin: 0;">
			<img style="display: block; -ms-interpolation-mode: bicubic;" src="https://bevipag.com.br/media/email/atualizacao/pedido_02.jpg" width="59" height="429" alt="">
</td>
		<td colspan="5" style="background-image: url('https://bevipag.com.br/media/email/atualizacao/pedido_03.jpg'); width: 301px; height: 107px; font-family: Verdana, Arial; font-weight: normal; border-collapse: collapse; vertical-align: top; padding: 0; margin: 0;">
			<p style="font-family: 'Roboto',sans-serif; font-size: 23px; color: #fff; margin: 0; text-transform: uppercase; font-weight: 300;">Obrigado por<br>comprar na BEVIPag</p>
			<span style="font-family: 'Roboto',sans-serif; font-size: 24px; color: #fedf01; font-weight: 900;">{{cliente}}</span>
		</td>
		<td colspan="4" rowspan="2" style="font-family: Verdana, Arial; font-weight: normal; border-collapse: collapse; vertical-align: top; padding: 0; margin: 0;">
			<img style="display: block; -ms-interpolation-mode: bicubic;" src="https://bevipag.com.br/media/email/atualizacao/pedido_04.jpg" width="290" height="116" alt="">
</td>
	</tr>
<tr>
<td colspan="5" style="font-family: Verdana, Arial; font-weight: normal; border-collapse: collapse; vertical-align: top; padding: 0; margin: 0;">
			<img style="display: block; -ms-interpolation-mode: bicubic;" src="https://bevipag.com.br/media/email/atualizacao/pedido_05.jpg" width="301" height="9" alt="">
</td>
	</tr>
<tr>
<td colspan="8" style="background-image: url('https://bevipag.com.br/media/email/atualizacao/pedido_06.jpg'); width: 491px; height: 61px; font-family: Verdana, Arial; font-weight: normal; border-collapse: collapse; vertical-align: top; padding: 0; margin: 0;">
			<p style="font-family: 'Roboto',sans-serif; margin: 0; font-size: 18px; font-weight: 300; color: #fff;">Precisamos de mais algumas informações ao seu respeito!</p>
		</td>
		<td rowspan="8" style="font-family: Verdana, Arial; font-weight: normal; border-collapse: collapse; vertical-align: top; padding: 0; margin: 0;">
			<img style="display: block; -ms-interpolation-mode: bicubic;" src="https://bevipag.com.br/media/email/atualizacao/pedido_07.jpg" width="100" height="313" alt="">
</td>
	</tr>
<tr>
<td colspan="8" style="font-family: Verdana, Arial; font-weight: normal; border-collapse: collapse; vertical-align: top; padding: 0; margin: 0;">
			<img style="display: block; -ms-interpolation-mode: bicubic;" src="https://bevipag.com.br/media/email/atualizacao/pedido_08.jpg" width="491" height="8" alt="">
</td>
	</tr>
<tr>
<td colspan="6" style="background-image: url('https://bevipag.com.br/media/email/atualizacao/pedido_09.jpg'); width: 365px; height: 44px; font-family: Verdana, Arial; font-weight: normal; border-collapse: collapse; vertical-align: top; padding: 0; margin: 0;">
			<p style="font-family: 'Roboto',sans-serif; margin: 0; font-size: 23px; font-weight: 300; color: #fff;">Ficou com dúvidas?</p>
		</td>
		<td colspan="2" rowspan="4" style="font-family: Verdana, Arial; font-weight: normal; border-collapse: collapse; vertical-align: top; padding: 0; margin: 0;">
			<img style="display: block; -ms-interpolation-mode: bicubic;" src="https://bevipag.com.br/media/email/atualizacao/pedido_10.jpg" width="126" height="155" alt="">
</td>
	</tr>
<tr>
<td colspan="6" style="font-family: Verdana, Arial; font-weight: normal; border-collapse: collapse; vertical-align: top; padding: 0; margin: 0;">
			<img style="display: block; -ms-interpolation-mode: bicubic;" src="https://bevipag.com.br/media/email/atualizacao/pedido_11.jpg" width="365" height="28" alt="">
</td>
	</tr>
<tr>
<td colspan="2" rowspan="4" style="font-family: Verdana, Arial; font-weight: normal; border-collapse: collapse; vertical-align: top; padding: 0; margin: 0;">
			<img style="display: block; -ms-interpolation-mode: bicubic;" src="https://bevipag.com.br/media/email/atualizacao/pedido_12.jpg" width="79" height="172" alt="">
</td>
		<td style="background-image: url('https://bevipag.com.br/media/email/atualizacao/pedido_13.jpg'); width: 187px; height: 32px; font-family: Verdana, Arial; font-weight: normal; border-collapse: collapse; vertical-align: top; padding: 0; margin: 0;">
			<a href="tel:011%204004%201083" style="font-family: 'Roboto',sans-serif; font-size: 18px; color: #0d4a87; margin: 0; font-weight: 700; font-style: italic;">011 4004 1083</a>
		</td>
		<td colspan="3" rowspan="2" style="font-family: Verdana, Arial; font-weight: normal; border-collapse: collapse; vertical-align: top; padding: 0; margin: 0;">
			<img style="display: block; -ms-interpolation-mode: bicubic;" src="https://bevipag.com.br/media/email/atualizacao/pedido_14.jpg" width="99" height="83" alt="">
</td>
	</tr>
<tr>
<td style="font-family: Verdana, Arial; font-weight: normal; border-collapse: collapse; vertical-align: top; padding: 0; margin: 0;">
			<img style="display: block; -ms-interpolation-mode: bicubic;" src="https://bevipag.com.br/media/email/atualizacao/pedido_15.jpg" width="187" height="51" alt="">
</td>
	</tr>
<tr>
<td colspan="5" style="background-image: url('https://bevipag.com.br/media/email/atualizacao/pedido_16.jpg'); width: 322px; height: 33px; font-family: Verdana, Arial; font-weight: normal; border-collapse: collapse; vertical-align: top; padding: 0; margin: 0;">
			<a href="mailto:atendimento@bevipag.com.br" style="font-family: 'Roboto',sans-serif; font-size: 18px; color: #0d4a87; margin: 0; font-weight: 700; font-style: italic;">atendimento@bevipag.com.br</a>
		</td>
		<td rowspan="2" style="font-family: Verdana, Arial; font-weight: normal; border-collapse: collapse; vertical-align: top; padding: 0; margin: 0;">
			<img style="display: block; -ms-interpolation-mode: bicubic;" src="https://bevipag.com.br/media/email/atualizacao/pedido_17.jpg" width="90" height="89" alt="">
</td>
	</tr>
<tr>
<td colspan="5" style="font-family: Verdana, Arial; font-weight: normal; border-collapse: collapse; vertical-align: top; padding: 0; margin: 0;">
			<img style="display: block; -ms-interpolation-mode: bicubic;" src="https://bevipag.com.br/media/email/atualizacao/pedido_18.jpg" width="322" height="56" alt="">
</td>
	</tr>
<tr>
<td colspan="10" style="background: #fff; width: 650px; min-height: 496px; height: 100%; vertical-align: middle; padding-left: 77px !important; padding-right: 77px !important; font-family: Verdana, Arial; font-weight: normal; border-collapse: collapse; padding: 0; margin: 0;">

      <p style="font-family: 'Roboto',sans-serif; font-size: 18px; color: #878787; margin: 0; font-weight: 400; margin-bottom: 40px;"></p>

			<p style="font-family: 'Roboto',sans-serif; font-size: 18px; color: #878787; margin: 0; font-weight: 400; margin-bottom: 40px;">
			    Clique no Link abaixo e preencha o formulário com os documentos e informações solicitados, junto com o formulário de cadastro que anexamos neste email, previamente preenchido.<br>
            </p>


            <p style="font-family: 'Roboto',sans-serif; font-size: 18px; color: #878787; margin: 0; font-weight: 400; margin-bottom: 40px;">
			    <a href="{{rota}}">Preencher formulário</a>
            </p>


      <div class="address-details" style="padding-top: 10px; text-align: left; padding: 10px 15px 0;">

      </div>



			<!-- <a href="#" style="padding: 15px 30px; text-transform:uppercase; color:#0d4a87; font-size:18px; font-weight:400; font-family:'Roboto'; background-color:#ffdd38; border-radius:5px; display:inline-block; text-decoration:none;">Imprimir Boleto</a> -->
		</td>
	</tr>
<tr>
<td colspan="10" style="font-family: Verdana, Arial; font-weight: normal; border-collapse: collapse; vertical-align: top; padding: 0; margin: 0;">
			<img style="display: block; -ms-interpolation-mode: bicubic;" src="https://bevipag.com.br/media/email/atualizacao/pedido_20.jpg" width="650" height="29" alt="">
</td>
	</tr>
<tr>
<td colspan="2" rowspan="2" style="font-family: Verdana, Arial; font-weight: normal; border-collapse: collapse; vertical-align: top; padding: 0; margin: 0;">
			<img style="display: block; -ms-interpolation-mode: bicubic;" src="https://bevipag.com.br/media/email/atualizacao/pedido_21.jpg" width="66" height="91" alt="">
</td>
		<td colspan="3" style="background-image: url('https://bevipag.com.br/media/email/atualizacao/pedido_22.jpg'); width: 276px; height: 59px; vertical-align: middle; font-family: Verdana, Arial; font-weight: normal; border-collapse: collapse; padding: 0; margin: 0;">
			<p style="font-family: 'Roboto',sans-serif; color: #fff; font-size: 33px; font-weight: 900; margin: 0;">Muito Obrigado!</p>
		</td>
		<td colspan="5" rowspan="2" style="font-family: Verdana, Arial; font-weight: normal; border-collapse: collapse; vertical-align: top; padding: 0; margin: 0;">
			<img style="display: block; -ms-interpolation-mode: bicubic;" src="https://bevipag.com.br/media/email/atualizacao/pedido_23.jpg" width="308" height="91" alt="">
</td>
	</tr>
<tr>
<td colspan="3" style="font-family: Verdana, Arial; font-weight: normal; border-collapse: collapse; vertical-align: top; padding: 0; margin: 0;">
			<img style="display: block; -ms-interpolation-mode: bicubic;" src="https://bevipag.com.br/media/email/atualizacao/pedido_24.jpg" width="276" height="32" alt="">
</td>
	</tr>
<tr>
<td style="font-family: Verdana, Arial; font-weight: normal; border-collapse: collapse; vertical-align: top; padding: 0; margin: 0;">
			<img style="display: block; -ms-interpolation-mode: bicubic;" src="https://bevipag.com.br/media/email/spacer.gif" width="59" height="1" alt="">
</td>
		<td style="font-family: Verdana, Arial; font-weight: normal; border-collapse: collapse; vertical-align: top; padding: 0; margin: 0;">
			<img style="display: block; -ms-interpolation-mode: bicubic;" src="https://bevipag.com.br/media/email/spacer.gif" width="7" height="1" alt="">
</td>
		<td style="font-family: Verdana, Arial; font-weight: normal; border-collapse: collapse; vertical-align: top; padding: 0; margin: 0;">
			<img style="display: block; -ms-interpolation-mode: bicubic;" src="https://bevipag.com.br/media/email/spacer.gif" width="72" height="1" alt="">
</td>
		<td style="font-family: Verdana, Arial; font-weight: normal; border-collapse: collapse; vertical-align: top; padding: 0; margin: 0;">
			<img style="display: block; -ms-interpolation-mode: bicubic;" src="https://bevipag.com.br/media/email/spacer.gif" width="187" height="1" alt="">
</td>
		<td style="font-family: Verdana, Arial; font-weight: normal; border-collapse: collapse; vertical-align: top; padding: 0; margin: 0;">
			<img style="display: block; -ms-interpolation-mode: bicubic;" src="https://bevipag.com.br/media/email/spacer.gif" width="17" height="1" alt="">
</td>
		<td style="font-family: Verdana, Arial; font-weight: normal; border-collapse: collapse; vertical-align: top; padding: 0; margin: 0;">
			<img style="display: block; -ms-interpolation-mode: bicubic;" src="https://bevipag.com.br/media/email/spacer.gif" width="18" height="1" alt="">
</td>
		<td style="font-family: Verdana, Arial; font-weight: normal; border-collapse: collapse; vertical-align: top; padding: 0; margin: 0;">
			<img style="display: block; -ms-interpolation-mode: bicubic;" src="https://bevipag.com.br/media/email/spacer.gif" width="64" height="1" alt="">
</td>
		<td style="font-family: Verdana, Arial; font-weight: normal; border-collapse: collapse; vertical-align: top; padding: 0; margin: 0;">
			<img style="display: block; -ms-interpolation-mode: bicubic;" src="https://bevipag.com.br/media/email/spacer.gif" width="36" height="1" alt="">
</td>
		<td style="font-family: Verdana, Arial; font-weight: normal; border-collapse: collapse; vertical-align: top; padding: 0; margin: 0;">
			<img style="display: block; -ms-interpolation-mode: bicubic;" src="https://bevipag.com.br/media/email/spacer.gif" width="90" height="1" alt="">
</td>
		<td style="font-family: Verdana, Arial; font-weight: normal; border-collapse: collapse; vertical-align: top; padding: 0; margin: 0;">
			<img style="display: block; -ms-interpolation-mode: bicubic;" src="https://bevipag.com.br/media/email/spacer.gif" width="100" height="1" alt="">
</td>
	</tr>
</table></body></html>

