{% load static %}
<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<title>BeviPag_Emkt_Posvenda_V4</title>
</head>

<body>
<table width="650" border="0" align="center" cellpadding="0" cellspacing="0">
  <tbody>
    <tr>
      <td><img src="http://100.24.135.209{% static 'pipefyintegration/assets/img/images/BeviPag_Emkt_Posvenda_V4_01.jpg' %}" alt="PARABÉNS , VOCÊ ACABA DE ADQUIRIR A SUA BEVIPAG" width="650" height="281" title="BEVIPAG"/></td>
    </tr>
  </tbody>
</table>
<table width="650" border="0" align="center" cellpadding="0" cellspacing="0">
  <tbody>
    <tr>
      <td height="60">&nbsp;</td>
    </tr>
  </tbody>
</table>
	<table width="650" border="0" align="center" cellpadding="0" cellspacing="0">
  <tbody>
    <tr>
      <td width="106" align="center">&nbsp;</td>
      <td width="544"><img src="http://100.24.135.209{% static 'pipefyintegration/assets/img/images/BeviPag_Emkt_Posvenda_V4_04.png' %}" width="469" height="51" alt="Falta apenas um passo para você concluir o processo de aquisição da sua BEVIPag."/></td>
    </tr>
  </tbody>
</table>
	<table width="650" border="0" align="center" cellpadding="0" cellspacing="0">
  <tbody>
    <tr>
      <td width="106" align="center">&nbsp;</td>
      <td width="544" height="17">&nbsp;</td>
    </tr>
  </tbody>
</table>
	<table width="650" border="0" align="center" cellpadding="0" cellspacing="0">
  <tbody>
    <tr>
      <td width="106" align="center">&nbsp;</td>
      <td width="544" height="13">&nbsp;</td>
    </tr>
  </tbody>
</table>
	<table width="650" border="0" align="center" cellpadding="0" cellspacing="0">
  <tbody>
    <tr>
      <td width="106" align="center">&nbsp;</td>
      <td width="544"><a href="{{rota}}"><img src="http://100.24.135.209{% static 'pipefyintegration/assets/img/images/BeviPag_Emkt_Posvenda_V4_04.jpg' %}" width="513" height="112" alt="CLIQUE AQUI PARA FINALIZAR"/></a></td>
    </tr>
  </tbody>
</table>
	<table width="650" border="0" align="center" cellpadding="0" cellspacing="0">
  <tbody>
    <tr>
      <td width="106" align="center">&nbsp;</td>
      <td width="544" height="60">&nbsp;</td>
    </tr>
  </tbody>
</table>
	<table width="650" border="0" align="center" cellpadding="0" cellspacing="0">
  <tbody>
    <tr>
      <td width="106" align="center">&nbsp;</td>
      <td width="544" align="center"><img src="http://100.24.135.209{% static 'pipefyintegration/assets/img/images/BeviPag_Emkt_Posvenda_V4_16.jpg' %}" width="343" height="44" alt="CONFIRA AS P'ROXIMAS ETAPAS:"/></td>
    </tr>
  </tbody>
</table>
	<table width="650" border="0" align="center" cellpadding="0" cellspacing="0">
  <tbody>
    <tr>
      <td width="106" align="center">&nbsp;</td>
      <td width="544"><img src="http://100.24.135.209{% static 'pipefyintegration/assets/img/images/BeviPag_Emkt_Posvenda_V4_07.jpg' %}" width="513" height="62" alt="PROCESSO DE COMPRA E PAGAMENTO"/></td>
    </tr>
  </tbody>
</table>
	<table width="650" border="0" align="center" cellpadding="0" cellspacing="0">
  <tbody>
    <tr>
      <td width="106" align="center">&nbsp;</td>
      <td width="544"><img src="http://100.24.135.209{% static 'pipefyintegration/assets/img/images/BeviPag_Emkt_Posvenda_V4_08.jpg' %}" width="513" height="67" alt="ENVIO DA SUA DOCUMENTAÇÃP"/></td>
    </tr>
  </tbody>
</table>
	<table width="650" border="0" align="center" cellpadding="0" cellspacing="0">
  <tbody>
    <tr>
      <td width="106" align="center">&nbsp;</td>
      <td width="544"><img src="http://100.24.135.209{% static 'pipefyintegration/assets/img/images/BeviPag_Emkt_Posvenda_V4_09.jpg' %}" width="513" height="70" alt="APÓS O ENVIO DOS SEUS DOCUMENTOS, A BEVIPAG REALIZARÁ O SEU CADASTRO EM ATÉ 4 DIAS ÚTEIS"/></td>
    </tr>
  </tbody>
</table>
	<table width="650" border="0" align="center" cellpadding="0" cellspacing="0">
  <tbody>
    <tr>
      <td width="106" align="center">&nbsp;</td>
      <td width="544"><img src="http://100.24.135.209{% static 'pipefyintegration/assets/img/images/BeviPag_Emkt_Posvenda_V4_10.jpg' %}" width="513" height="69" alt="ENVIO DA MÁQUINA EM ATÉ 6 DIAS ÚTEIS"/></td>
    </tr>
  </tbody>
</table>
	<table width="650" border="0" align="center" cellpadding="0" cellspacing="0">
  <tbody>
    <tr>
      <td width="106" align="center">&nbsp;</td>
      <td width="544" height="40">&nbsp;</td>
    </tr>
  </tbody>
</table>
	<table width="650" border="0" align="center" cellpadding="0" cellspacing="0">
  <tbody>
    <tr>
      <td width="106" align="center">&nbsp;</td>
      <td width="544" align="center"><img src="http://100.24.135.209{% static 'pipefyintegration/assets/img/images/BeviPag_Emkt_Posvenda_V4_24.jpg' %}" width="400" height="45" alt="EM CASO DE DÚVIDAS, NÃO DEIXE DE LIGAR, HORÁRIO DE ATENDIMENTO: DE SEGUNDA A SEXTA DAS 08H ÀS 19H."/></td>
    </tr>
  </tbody>
</table>
	<table width="650" border="0" align="center" cellpadding="0" cellspacing="0">
  <tbody>
    <tr>
      <td width="106" align="center">&nbsp;</td>
      <td width="544" height="15">&nbsp;</td>
    </tr>
  </tbody>
</table>
	<table width="650" border="0" align="center" cellpadding="0" cellspacing="0">
  <tbody>
    <tr>
      <td width="106" align="center">&nbsp;</td>
      <td width="544"><a href="tel:08007243088"><img src="http://100.24.135.209{% static 'pipefyintegration/assets/img/images/BeviPag_Emkt_Posvenda_V4_27.jpg' %}" width="338" height="55" alt="ligacao gratuita"/></a></td>
    </tr>
  </tbody>
</table>
	<table width="650" border="0" align="center" cellpadding="0" cellspacing="0">
  <tbody>
    <tr>
      <td width="106" align="center">&nbsp;</td>
      <td width="544" height="14">&nbsp;</td>
    </tr>
  </tbody>
</table>
	<table width="650" border="0" align="center" cellpadding="0" cellspacing="0">
  <tbody>
    <tr>
      <td width="106" align="center">&nbsp;</td>
      <td width="544"><a href="tel:08009425503"><img src="http://100.24.135.209{% static 'pipefyintegration/assets/img/images/BeviPag_Emkt_Posvenda_V4_30.jpg' %}" width="338" height="55" alt="ligação gratuita"/></a></td>
    </tr>
  </tbody>
</table>
	<table width="650" border="0" align="center" cellpadding="0" cellspacing="0">
  <tbody>
    <tr>
      <td width="106" align="center">&nbsp;</td>
      <td width="544" height="14">&nbsp;</td>
    </tr>
  </tbody>
</table>
	<table width="650" border="0" align="center" cellpadding="0" cellspacing="0">
  <tbody>
    <tr>
      <td width="106" align="center">&nbsp;</td>
      <td width="544"><a href="mailto:contato@bevipag.com.br"><img src="http://100.24.135.209{% static 'pipefyintegration/assets/img/images/BeviPag_Emkt_Posvenda_V4_32.jpg' %}" width="338" height="55" alt=""/></a></td>
    </tr>
  </tbody>
</table>
<table width="650" border="0" align="center" cellpadding="0" cellspacing="0">
  <tbody>
    <tr>
      <td width="106" align="center">&nbsp;</td>
      <td width="544" height="14">&nbsp;</td>
    </tr>
  </tbody>
</table>
	<table width="650" border="0" align="center" cellpadding="0" cellspacing="0">
  <tbody>
    <tr>
      <td><img src="http://100.24.135.209{% static 'pipefyintegration/assets/img/images/BeviPag_Emkt_Posvenda_V4_19.jpg' %}" alt="MUITO OBRIGADO!" width="650" height="225" title="BEVIPAG"/></td>
    </tr>
  </tbody>
</table>
</body>
</html>
