.gradiente-lucree {
    background: linear-gradient(87deg, #ffde2f 0, #f5d52d 100%) !important;
}
.text-light {
    color: #ffffff !important;
}

.bg-default {
    background-color: #079d39 !important;
}

.text-muted {
    color: #fff !important;
}