{% load static %}
<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title>BEVIPAG</title>
  <!-- Favicon -->
  <link rel="icon" type="image/png" sizes="32x32" href="{% static 'pipefyintegration/assets/img/brand/favicon.ico' %}">
  <link rel="icon" type="image/png" sizes="96x96" href="{% static 'pipefyintegration/assets/img/brand/favicon.ico' %}">
  <link rel="icon" type="image/png" sizes="16x16" href="{% static 'pipefyintegration/assets/img/brand/favicon.ico' %}">

  <!-- Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
  <!-- Icons -->
  <link href="{% static 'pipefyintegration/assets/vendor/nucleo/css/nucleo.css' %}" rel="stylesheet">
  <link href="{% static 'pipefyintegration/assets/vendor/@fortawesome/fontawesome-free/css/all.min.css' %}" rel="stylesheet">
  <!-- Argon CSS -->
  <link type="text/css" href="{% static 'pipefyintegration/assets/css/argon.css' %}" rel="stylesheet">
  <link type="text/css" href="{% static 'pipefyintegration/assets/css/bevipag.css' %}" rel="stylesheet">
</head>

<body class="bg-default">
  <div class="main-content">
    <!-- Navbar -->
    <nav class="navbar navbar-top navbar-horizontal navbar-expand-md navbar-dark">
        <div class="container px-4">
  
          <!-- <a class="navbar-brand" href="../index.html">
            Backoffice E2F
          </a> -->
          <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-collapse-main" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button> -->
          <div class="collapse navbar-collapse" id="navbar-collapse-main">
            <!-- Collapse header -->
            <!--  <div class="navbar-collapse-header d-md-none">
              <div class="row">
                <div class="col-6 collapse-brand">
                  <a href="../index.html">
                    <img src="{% static 'pipefyintegration</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link nav-link-icon" href="../examples/register.html">
                  <i class="ni ni-circle-08"></i>
                  <span class="nav-link-inner--text">Register</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link nav-link-icon" href="../examples/login.html">
                  <i class="ni ni-key-25"></i>
                  <span class="nav-link-inner--text">Login</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link nav-link-icon" href="../examples/profile.html">
                  <i class="ni ni-single-02"></i>
                  <span class="nav-link-inner--text">Profile</span>
                </a>
              </li>
            </ul> -->
          </div>
        </div>
      </nav>
    <!-- Header -->
    <div class="header bg-gradient-primary gradiente-lucree py-7 py-lg-8">
      <div class="container">
        <div class="header-body text-center mb-7">
          <div class="row justify-content-center">
            <div class="col-lg-5 col-md-6">
              {%if dict_default_fields.cadastro == "Cliente Pessoa Física (CPF)"%}
                <h1 class="text-white" style="padding-bottom: 15%;">Olá, {{dict_default_fields.nome_completo}}!</h1>
              {%else%}
                <h1 class="text-white" style="padding-bottom: 15%;">Olá, {{dict_default_fields.razao_social}}!</h1>
              {%endif%}
            </div>
          </div>
        </div>
      </div>
      <!-- <div class="separator separator-bottom separator-skew zindex-100">
        <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
          <polygon class="fill-default" points="2560 0 2560 100 0 100"></polygon>
        </svg>
      </div> -->
    </div>
    <!-- Page content -->
    <div class="container mt--8 pb-5">
      <!-- Table -->
      <div class="row justify-content-center">
        <div class="col-lg-6 col-md-8">
          <div class="card bg-secondary shadow border-0">
            <!-- <div class="card-header bg-transparent pb-5">
              <div class="text-muted text-center mt-2 mb-4"><small>Sign up with</small></div>
              <div class="text-center">
                <a href="#" class="btn btn-neutral btn-icon mr-4">
                  <span class="btn-inner--icon"><img src="../assets/img/icons/common/github.svg"></span>
                  <span class="btn-inner--text">Github</span>
                </a>
                <a href="#" class="btn btn-neutral btn-icon">
                  <span class="btn-inner--icon"><img src="../assets/img/icons/common/google.svg"></span>
                  <span class="btn-inner--text">Google</span>
                </a>
              </div>
              
            </div> -->
            <div class="card-body px-lg-5 py-lg-5">
              <div class="text-center text-muted mb-4">
                  <img class="navbar-brand-img" src="{% static 'pipefyintegration/assets/img/logo_bevipag.png' %}">
                  <br>
              </div>
              <center>
                <label>Para concluir o processo de aquisição da sua maquininha, por favor, imprima a ficha abaixo:</label>
                <a class="btn" style="background-color: #124a88!important; color: #fff!important;" href="/pipefyintegration/download/{{attachment}}">
                  <strong>CLIQUE AQUI E IMPRIMA SUA FICHA</strong>
                </a>

              </center>
              <br>
              <br>
              <form role="form" class="documentacao" id="post-activation" method="POST" onsubmit="return validateForm(this);" enctype="multipart/form-data">
                  {% csrf_token %}
                <!--<div class="form-group">
                  <label>Tipo de cadastro:</label>
                  <div class="input-group input-group-alternative mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="fas fa-id-card"></i></span>
                    </div>
                    {{form.cadastro}}
                    
                  </div>
                </div>-->
                <!--<div class="form-group">
                  <label>Nome/Razão social:</label>
                  <div class="input-group input-group-alternative mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="fas fa-user"></i></span>
                    </div>
                    {%if tipo_cadastro == 'Cliente Pessoa Física (CPF)'%}
                      {{form.nome_completo}}
                    {%else%}
                      {{form.razao_social}}
                    {%endif%}
                  </div>
                </div>-->
                {%if tipo_cadastro == 'Cliente Pessoa Física (CPF)'%}
                <!--<div class="form-group">
                  <label>RG:</label>
                  <div class="input-group input-group-alternative">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="fas fa-id-card"></i></span>
                    </div>
                    {{form.rg}}
                  </div>
                </div>-->
                <!--
                <div class="form-group">
                  <label>CPF:</label>
                  <div class="input-group input-group-alternative">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="fas fa-id-card"></i></span>
                    </div>
                    {{form.cpf}}
                  </div>
                </div>-->
                {%else%}
                <!--
                <div class="form-group">
                  <label>CNPJ:</label>
                  <div class="input-group input-group-alternative">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="fas fa-id-card"></i></span>
                    </div>
                    {{form.cnpj}}
                  </div>
                </div>-->
                {%endif%}
                <!--
                <label>Telefone 1:</label>
                <div class="form-group">
                  <div class="input-group input-group-alternative">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="fas fa-phone"></i></span>
                    </div>
                    {{form.telefone1}}
                  </div>
                </div>

                <div class="form-group">
                  <label>Telefone 2:</label>
                  <div class="input-group input-group-alternative">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="fas fa-phone"></i></span>
                    </div>
                    {{form.telefone2}}
                  </div>
                </div>

                <div class="form-group">
                  <label>Email:</label>
                  <div class="input-group input-group-alternative">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="fas fa-mail"></i></span>
                    </div>
                    {{form.email}}
                  </div>
                </div>

                <div class="form-group">
                  <label>Rua/Av:</label>
                  <div class="input-group input-group-alternative">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="fas fa-map-marked-alt"></i></span>
                    </div>
                    {{form.rua_av}}
                  </div>
                </div>

                <div class="form-group">
                  <label>Número:</label>
                  <div class="input-group input-group-alternative">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="fas fa-map-marked-alt"></i></span>
                    </div>
                    {{form.numero}}
                  </div>
                </div>
                <div class="form-group">
                  <label>Complemento:</label>
                  <div class="input-group input-group-alternative">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="fas fa-map-marked-alt"></i></span>
                    </div>
                    {{form.complemento}}
                  </div>
                </div>

                <div class="form-group">
                  <label>Bairro:</label>
                  <div class="input-group input-group-alternative">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="fas fa-map-marked-alt"></i></span>
                    </div>
                    {{form.bairro}}
                  </div>
                </div>

                <div class="form-group">
                  <label>Cidade:</label>
                  <div class="input-group input-group-alternative">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="fas fa-map-marked-alt"></i></span>
                    </div>
                    {{form.cidade}}
                  </div>
                </div>

                <div class="form-group">
                  <label>Estado:</label>
                  <div class="input-group input-group-alternative">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="fas fa-map-marked-alt"></i></span>
                    </div>
                    {{form.estado}}
                  </div>
                </div>
-->

                <!--<div class="form-group">-->
                  <!--<label>Informe o banco que você deseja receber os valores transacionados na sua máquina, porém o CPF ou CNPJ da conta informada deve ser o mesmo do cadastro.  </label>-->
                  <!--<div class="input-group input-group-alternative">-->
                    <!--<div class="input-group-prepend">-->
                      <!--<span class="input-group-text"><i class="fas fa-piggy-bank"></i></span>-->
                    <!--</div>-->
                    <!--{{form.domicilio_bancario}}-->
                  <!--</div>-->
                <!--</div>-->
                <!--<label><strong>Preencha abaixo, os dados da sua conta corrente:</strong></label>-->
                <!--<div class="form-group">-->
                  <!--<label>Agência:</label>-->
                  <!--<div class="input-group input-group-alternative">-->
                    <!--<div class="input-group-prepend">-->
                      <!--<span class="input-group-text"><i class="fas fa-piggy-bank"></i></span>-->
                    <!--</div>-->
                    <!--{{form.agencia}}-->
                  <!--</div>-->
                <!--</div>-->

                <!--<div class="form-group">-->
                  <!--<label>Conta:</label>-->
                  <!--<div class="input-group input-group-alternative">-->
                    <!--<div class="input-group-prepend">-->
                      <!--<span class="input-group-text"><i class="fas fa-piggy-bank"></i></span>-->
                    <!--</div>-->
                    <!--{{form.conta}}-->
                  <!--</div>-->
                <!--</div>-->

                <!--<div class="form-group">-->
                  <!--<label>Dígito da conta:</label>-->
                  <!--<div class="input-group input-group-alternative">-->
                    <!--<div class="input-group-prepend">-->
                      <!--<span class="input-group-text"><i class="fas fa-piggy-bank"></i></span>-->
                    <!--</div>-->
                    <!--{{form.digito_conta}}-->
                  <!--</div>-->
                <!--</div>-->

                {% if flex %}
                <div class="form-group">
                  <label>Aceita flex?</label>
                  <div class="input-group input-group-alternative">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="fas fa-terminal"></i></span>
                    </div>
                    {{form.cliente_flex}}
                  </div>
                </div>
                {% endif %}

                <div class="form-group">
                  <label><strong>Após o preenchimento dos campos destacados e assinatura da ficha acima, tire uma foto nítida a anexe no campo abaixo:</strong></label>
                  <div class="input-group input-group-alternative">

                    {{form.ficha_cadastro}}
                  </div>
                  <small>
                    CLIQUE ACIMA E ADICIONE O ARQUIVO DO FORMULÁRIO PREENCHIDO.</small>
                </div>
                {%if tipo_cadastro != 'Cliente Pessoa Física (CPF)'%}
                <div class="form-group">
                  <label>Anexe abaixo, o seu documento com foto, frente e verso:</label>
                  <div class="input-group input-group-alternative">

                    {{form.documento_foto}}
                  </div>
                </div>

                {%endif%}
                <label><strong>Abaixo, anexe um comprovante da conta bancária informada no momento da compra.</strong></label>
                <div class="form-group">
                  <label>Comprovante da sua conta bancária:</label>
                  <div class="input-group input-group-alternative">

                    {{form.comprovante_domicilio_bancario}}
                  </div>
                </div>

                <!--<div class="form-group">
                  <div class="input-group input-group-alternative">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="fas fa-terminal"></i></span>
                    </div>
                    {{form.tipo_maquina}}
                  </div>
                </div>-->
                <!--
                <div class="form-group">
                  <div class="input-group input-group-alternative">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="fas fa-sort-numeric-up"></i></span>
                    </div>
                    {{form.quantidade_maquina}}
                  </div>
                </div>
-->

                <div class="form-group">
                  <label>Operadora de preferência:</label>
                  <div class="input-group input-group-alternative">

                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="fas fa-mobile-alt"></i></span>
                    </div>
                    {{form.operadora}}
                  </div>
                </div>
<!--
                <div class="form-group">
                  <div class="input-group input-group-alternative">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="fas fa-dollar-sign"></i></span>
                    </div>
                    {{form.forma_pagamento}}
                  </div>
                </div>
-->
                <!--<div class="form-group">
                  <label>Comprovante de pagamento da máquina:</label>
                  <div class="input-group input-group-alternative">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="fas fa-file"></i></span>
                    </div>
                    {{form.comprovante_pagamento_maquina}}
                  </div>
                </div>-->
                <!-- <div class="row my-4">
                  <div class="col-12">
                    <div class="custom-control custom-control-alternative custom-checkbox">
                      <input class="custom-control-input" id="customCheckRegister" type="checkbox">
                      <label class="custom-control-label" for="customCheckRegister">
                        <span class="text-muted">I agree with the <a href="#!">Privacy Policy</a></span>
                      </label>
                    </div>
                  </div>
                </div> -->
                <div class="text-center">
                  <button type="submit" name="btnEnviar" id="enviar" class="btn btn-success mt-4">Enviar!</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Footer -->
  <footer class="py-5">
    <div class="container">
      <div class="row align-items-center justify-content-xl-between">
        <div class="col-xl-6">
          <div class="copyright text-center text-xl-left text-muted">
            &copy; 2018 BEVIPAG
          </div>
        </div>
        <!-- <div class="col-xl-6">
          <ul class="nav nav-footer justify-content-center justify-content-xl-end">
            <li class="nav-item">
              <a href="https://www.creative-tim.com" class="nav-link" target="_blank">Creative Tim</a>
            </li>
            <li class="nav-item">
              <a href="https://www.creative-tim.com/presentation" class="nav-link" target="_blank">About Us</a>
            </li>
            <li class="nav-item">
              <a href="http://blog.creative-tim.com" class="nav-link" target="_blank">Blog</a>
            </li>
            <li class="nav-item">
              <a href="https://github.com/creativetimofficial/argon-pipefyintegration/blob/master/LICENSE.md" class="nav-link" target="_blank">MIT License</a>
            </li>
          </ul>
        </div> -->
      </div>
    </div>
  </footer>
  <div class="modal fade" id="modal-sucess" tabindex="-1" role="dialog" data-backdrop="static" aria-labelledby="exampleModalLabel">
      <div class="modal-dialog modal-dialog-centered" role="document">

          <div class="modal-content">
              <div class="modal-header">
                  <h3 class="modal-title" id="modal-title-default"></h3>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">×</span>
                  </button>
              </div>
              <div class="modal-body">
                  <br>
                  <span style="font-weight: 700" id="titleError"></span> <br>
                  <span id="fieldsError"></span>
              </div>
              <div class="modal-footer">
                  <a href="/dashboard/merchants" type="button" id="btnOk" class="btn btn-primary">OK</a>
              </div>
          </div>
      </div>
  </div>

  <script type="text/javascript">
    function validateForm(formObj) {
        formObj.btnEnviar.disabled = true;
        return true;
    }


  </script>
  <!-- Argon Scripts -->
  <!-- Core -->
  <script src="{% static 'pipefyintegration/assets/vendor/jquery/dist/jquery.min.js' %}"></script>
  <script src="{% static 'pipefyintegration/assets/vendor/bootstrap/dist/js/bootstrap.bundle.min.js' %}"></script>
  <!-- Argon JS -->
  <script src="{% static 'pipefyintegration/assets/js/argon.js' %}"></script>
  <script src="{% static 'pipefyintegration/assets/js/config/config.js' %}"></script>
  <script src="{% static 'pipefyintegration/assets/js/requests/paystore.js' %}"></script>
</body>

</html>