{% load static %}
<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title>BEVIPAG</title>
  <!-- Favicon -->
  <link rel="icon" type="image/png" sizes="32x32" href="{% static 'pipefyintegration/assets/img/brand/favicon.ico' %}">
  <link rel="icon" type="image/png" sizes="96x96" href="{% static 'pipefyintegration/assets/img/brand/favicon.ico' %}">
  <link rel="icon" type="image/png" sizes="16x16" href="{% static 'pipefyintegration/assets/img/brand/favicon.ico' %}">

  <!-- Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
  <!-- Icons -->
  <link href="{% static 'pipefyintegration/assets/vendor/nucleo/css/nucleo.css' %}" rel="stylesheet">
  <link href="{% static 'pipefyintegration/assets/vendor/@fortawesome/fontawesome-free/css/all.min.css' %}" rel="stylesheet">
  <!-- Argon CSS -->
  <link type="text/css" href="{% static 'pipefyintegration/assets/css/argon.css' %}" rel="stylesheet">
  <link type="text/css" href="{% static 'pipefyintegration/assets/css/bevipag.css' %}" rel="stylesheet">
</head>

<body class="bg-default">
  <div class="main-content">
    <!-- Navbar -->
    <nav class="navbar navbar-top navbar-horizontal navbar-expand-md navbar-dark">
        <div class="container px-4">

          <!-- <a class="navbar-brand" href="../index.html">
            Backoffice E2F
          </a> -->
          <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-collapse-main" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button> -->
          <div class="collapse navbar-collapse" id="navbar-collapse-main">
            <!-- Collapse header -->
            <!--  <div class="navbar-collapse-header d-md-none">
              <div class="row">
                <div class="col-6 collapse-brand">
                  <a href="../index.html">
                    <img src="{% static 'pipefyintegration</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link nav-link-icon" href="../examples/register.html">
                  <i class="ni ni-circle-08"></i>
                  <span class="nav-link-inner--text">Register</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link nav-link-icon" href="../examples/login.html">
                  <i class="ni ni-key-25"></i>
                  <span class="nav-link-inner--text">Login</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link nav-link-icon" href="../examples/profile.html">
                  <i class="ni ni-single-02"></i>
                  <span class="nav-link-inner--text">Profile</span>
                </a>
              </li>
            </ul> -->
          </div>
        </div>
      </nav>
    <!-- Header -->
    <div class="header bg-gradient-primary gradiente-lucree py-7 py-lg-8">
      <div class="container">
        <div class="header-body text-center mb-7">
          <div class="row justify-content-center">
            <div class="col-lg-5 col-md-6">
              <p class="text-lead text-light">
                Deseja reenviar o email para preenchimento da documentação?</p>
            </div>
          </div>
        </div>
      </div>
      <!-- <div class="separator separator-bottom separator-skew zindex-100">
        <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
          <polygon class="fill-default" points="2560 0 2560 100 0 100"></polygon>
        </svg>
      </div> -->
    </div>
    <!-- Page content -->
    <div class="container mt--8 pb-5">
      <!-- Table -->
      <div class="row justify-content-center">
        <div class="col-lg-6 col-md-8">
          <div class="card bg-secondary shadow border-0">
            <!-- <div class="card-header bg-transparent pb-5">
              <div class="text-muted text-center mt-2 mb-4"><small>Sign up with</small></div>
              <div class="text-center">
                <a href="#" class="btn btn-neutral btn-icon mr-4">
                  <span class="btn-inner--icon"><img src="../assets/img/icons/common/github.svg"></span>
                  <span class="btn-inner--text">Github</span>
                </a>
                <a href="#" class="btn btn-neutral btn-icon">
                  <span class="btn-inner--icon"><img src="../assets/img/icons/common/google.svg"></span>
                  <span class="btn-inner--text">Google</span>
                </a>
              </div>

            </div> -->
            <div class="card-body px-lg-5 py-lg-5">
                {%if sucesso %}
                <div class="alert alert-success">
                    <p>Email(s) reenviado(s) com sucesso! </p>

                </div>
                {%endif%}
                {%if cardnaoencontrado %}
                <div class="alert alert-danger">
                    <p>O seguintes pedidos não existem em nosso backoffice: </p>
                    <ul>
                    {%for c in cards%}

                        <li>{{c}}</li>

                    {%endfor%}
                    </ul>
                    <p>Todos os pedidos devem estar em nossa base, por favor, verifique e envie novamente...</p>
                </div>
                {%endif%}
              <div class="text-center text-muted mb-4">
                  <img class="navbar-brand-img" src="{% static 'pipefyintegration/assets/img/logo_bevipag.png' %}">
                  <br>
              </div>
              <form role="form" id="post-activation" method="POST" enctype="multipart/form-data">
                  {% csrf_token %}


                <div class="form-group">
                  <label>Pedidos # (Separe por vírgula):</label>
                    {{form.pedidos}}
                </div>


                <div class="text-center">
                  <button type="submit" class="btn btn-success mt-4">Re-enviar!</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Footer -->
  <footer class="py-5">
    <div class="container">
      <div class="row align-items-center justify-content-xl-between">
        <div class="col-xl-6">
          <div class="copyright text-center text-xl-left text-muted">
            &copy; 2018 BEVIPAG
          </div>
        </div>
        <!-- <div class="col-xl-6">
          <ul class="nav nav-footer justify-content-center justify-content-xl-end">
            <li class="nav-item">
              <a href="https://www.creative-tim.com" class="nav-link" target="_blank">Creative Tim</a>
            </li>
            <li class="nav-item">
              <a href="https://www.creative-tim.com/presentation" class="nav-link" target="_blank">About Us</a>
            </li>
            <li class="nav-item">
              <a href="http://blog.creative-tim.com" class="nav-link" target="_blank">Blog</a>
            </li>
            <li class="nav-item">
              <a href="https://github.com/creativetimofficial/argon-pipefyintegration/blob/master/LICENSE.md" class="nav-link" target="_blank">MIT License</a>
            </li>
          </ul>
        </div> -->
      </div>
    </div>
  </footer>
  <div class="modal fade" id="modal-sucess" tabindex="-1" role="dialog" data-backdrop="static" aria-labelledby="exampleModalLabel">
      <div class="modal-dialog modal-dialog-centered" role="document">

          <div class="modal-content">
              <div class="modal-header">
                  <h3 class="modal-title" id="modal-title-default"></h3>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">×</span>
                  </button>
              </div>
              <div class="modal-body">
                  <br>
                  <span style="font-weight: 700" id="titleError"></span> <br>
                  <span id="fieldsError"></span>
              </div>
              <div class="modal-footer">
                  <a href="/dashboard/merchants" type="button" id="btnOk" class="btn btn-primary">OK</a>
              </div>
          </div>
      </div>
  </div>
  <!-- Argon Scripts -->
  <!-- Core -->
  <script src="{% static 'pipefyintegration/assets/vendor/jquery/dist/jquery.min.js' %}"></script>
  <script src="{% static 'pipefyintegration/assets/vendor/bootstrap/dist/js/bootstrap.bundle.min.js' %}"></script>
  <!-- Argon JS -->
  <script src="{% static 'pipefyintegration/assets/js/argon.js' %}"></script>
  <script src="{% static 'pipefyintegration/assets/js/config/config.js' %}"></script>
  <script src="{% static 'pipefyintegration/assets/js/requests/paystore.js' %}"></script>
</body>

</html>