{% load static %}
<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="Start your development with a lojista for Bootstrap 4.">
  <meta name="author" content="Creative Tim">
  <title>LUCREE</title>
  <!-- Favicon -->
  <link rel="icon" type="image/png" sizes="32x32" href="{% static 'dashboard/assets/img/brand/favicon-32x32.png' %}">
  <link rel="icon" type="image/png" sizes="96x96" href="{% static 'dashboard/assets/img/brand/favicon-96x96.png' %}">
  <link rel="icon" type="image/png" sizes="16x16" href="{% static 'dashboard/assets/img/brand/favicon-16x16.png' %}">

  <!-- Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
  <!-- Icons -->
  <link href="{% static 'lojista/assets/vendor/nucleo/css/nucleo.css' %}" rel="stylesheet">
  <link href="{% static 'lojista/assets/vendor/@fortawesome/fontawesome-free/css/all.min.css' %}" rel="stylesheet">
  <!-- Argon CSS -->
  <link type="text/css" href="{% static 'lojista/assets/css/argon.css' %}" rel="stylesheet">
  <link type="text/css" href="{% static 'lojista/assets/css/lucree.css' %}" rel="stylesheet">
</head>

<body class="bg-default">
  <div class="main-content">
    <!-- Navbar -->
    <nav class="navbar navbar-top navbar-horizontal navbar-expand-md navbar-dark">
        <div class="container px-4">
  
          <!-- <a class="navbar-brand" href="../index.html">
            Backoffice E2F
          </a> -->
          <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-collapse-main" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button> -->
          <div class="collapse navbar-collapse" id="navbar-collapse-main">
            <!-- Collapse header -->
            <!--  <div class="navbar-collapse-header d-md-none">
              <div class="row">
                <div class="col-6 collapse-brand">
                  <a href="../index.html">
                    <img src="{% static 'lojista</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link nav-link-icon" href="../examples/register.html">
                  <i class="ni ni-circle-08"></i>
                  <span class="nav-link-inner--text">Register</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link nav-link-icon" href="../examples/login.html">
                  <i class="ni ni-key-25"></i>
                  <span class="nav-link-inner--text">Login</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link nav-link-icon" href="../examples/profile.html">
                  <i class="ni ni-single-02"></i>
                  <span class="nav-link-inner--text">Profile</span>
                </a>
              </li>
            </ul> -->
          </div>
        </div>
      </nav>
    <!-- Header -->
    <div class="header bg-gradient-primary gradiente-lucree py-7 py-lg-8">
      <div class="container">
        <div class="header-body text-center mb-7">
          <div class="row justify-content-center">
            <div class="col-lg-5 col-md-6">
              <h1 class="text-white">OLÁ LOJISTA!</h1>
              <p class="text-lead text-light">Seja bem vindo! Chegou a hora de ativar sua maquininha. Por favor preenchao os campos a baixo com os dados que você recebeu pelo email.</p>
            </div>
          </div>
        </div>
      </div>
      <!-- <div class="separator separator-bottom separator-skew zindex-100">
        <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
          <polygon class="fill-default" points="2560 0 2560 100 0 100"></polygon>
        </svg>
      </div> -->
    </div>
    <!-- Page content -->
    <div class="container mt--8 pb-5">
      <!-- Table -->
      <div class="row justify-content-center">
        <div class="col-lg-6 col-md-8">
          <div class="card bg-secondary shadow border-0">
            <!-- <div class="card-header bg-transparent pb-5">
              <div class="text-muted text-center mt-2 mb-4"><small>Sign up with</small></div>
              <div class="text-center">
                <a href="#" class="btn btn-neutral btn-icon mr-4">
                  <span class="btn-inner--icon"><img src="../assets/img/icons/common/github.svg"></span>
                  <span class="btn-inner--text">Github</span>
                </a>
                <a href="#" class="btn btn-neutral btn-icon">
                  <span class="btn-inner--icon"><img src="../assets/img/icons/common/google.svg"></span>
                  <span class="btn-inner--text">Google</span>
                </a>
              </div>
              
            </div> -->
            <div class="card-body px-lg-5 py-lg-5">
              <div class="text-center text-muted mb-4">
                  <img class="navbar-brand-img" src="{% static 'dashboard/assets/img/brand/Logo-lucre.png' %}">
                  <br>
                <small style="color: #cecece">Preencha os campos a baixo:</small>
              </div>
              <form role="form" id="post-activation" method="POST">
                  {% csrf_token %}
                <div class="form-group">
                  <div class="input-group input-group-alternative mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="fas fa-mobile-alt"></i></span>
                    </div>
                    {{form.comunication_profile}}
                    
                  </div>
                </div>
                <div class="form-group">
                  <div class="input-group input-group-alternative mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="fas fa-user"></i></span>
                    </div>
                    {{form.merchant}}
                  </div>
                </div>
                <div class="form-group">
                  <div class="input-group input-group-alternative">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="fas fa-terminal"></i></span>
                    </div>
                    {{form.terminal}}
                  </div>
                </div>
                <!-- <div class="row my-4">
                  <div class="col-12">
                    <div class="custom-control custom-control-alternative custom-checkbox">
                      <input class="custom-control-input" id="customCheckRegister" type="checkbox">
                      <label class="custom-control-label" for="customCheckRegister">
                        <span class="text-muted">I agree with the <a href="#!">Privacy Policy</a></span>
                      </label>
                    </div>
                  </div>
                </div> -->
                <div class="text-center">
                  <button type="submit" class="btn btn-success mt-4">Ativar a maquininha!</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Footer -->
  <footer class="py-5">
    <div class="container">
      <div class="row align-items-center justify-content-xl-between">
        <div class="col-xl-6">
          <div class="copyright text-center text-xl-left text-muted">
            &copy; 2018 LUCREE
          </div>
        </div>
        <!-- <div class="col-xl-6">
          <ul class="nav nav-footer justify-content-center justify-content-xl-end">
            <li class="nav-item">
              <a href="https://www.creative-tim.com" class="nav-link" target="_blank">Creative Tim</a>
            </li>
            <li class="nav-item">
              <a href="https://www.creative-tim.com/presentation" class="nav-link" target="_blank">About Us</a>
            </li>
            <li class="nav-item">
              <a href="http://blog.creative-tim.com" class="nav-link" target="_blank">Blog</a>
            </li>
            <li class="nav-item">
              <a href="https://github.com/creativetimofficial/argon-lojista/blob/master/LICENSE.md" class="nav-link" target="_blank">MIT License</a>
            </li>
          </ul>
        </div> -->
      </div>
    </div>
  </footer>
  <div class="modal fade" id="modal-sucess" tabindex="-1" role="dialog" data-backdrop="static" aria-labelledby="exampleModalLabel">
      <div class="modal-dialog modal-dialog-centered" role="document">

          <div class="modal-content">
              <div class="modal-header">
                  <h3 class="modal-title" id="modal-title-default"></h3>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">×</span>
                  </button>
              </div>
              <div class="modal-body">
                  <br>
                  <span style="font-weight: 700" id="titleError"></span> <br>
                  <span id="fieldsError"></span>
              </div>
              <div class="modal-footer">
                  <a href="/dashboard/merchants" type="button" id="btnOk" class="btn btn-primary">OK</a>
              </div>
          </div>
      </div>
  </div>
  <!-- Argon Scripts -->
  <!-- Core -->
  <script src="{% static 'lojista/assets/vendor/jquery/dist/jquery.min.js' %}"></script>
  <script src="{% static 'lojista/assets/vendor/bootstrap/dist/js/bootstrap.bundle.min.js' %}"></script>
  <!-- Argon JS -->
  <script src="{% static 'lojista/assets/js/argon.js' %}"></script>
  <script src="{% static 'lojista/assets/js/config/config.js' %}"></script>
  <script src="{% static 'lojista/assets/js/requests/paystore.js' %}"></script>
</body>

</html>