html {
    background-color: #535353 !important;
}
.painel-lucree {
    background-color: #535353 !important;
}

.bg-gradient-primary {
    background: linear-gradient(87deg, #909090 0, #c9c6b5 100%) !important;
}

.footer {
    background: #535353 !important;
}

.text-muted {
    color: #fff !important;
}

.text-muted2 {
    color: #000000;
}

.bg-white {
    background-color: #f6f6f6 !important;
}


/* LOGIN */


.gradiente-lucree {
    background: linear-gradient(87deg, #909090 0, #c9c6b5 100%) !important;
}
.text-light {
    color: #ffffff !important;
}

.bg-default {
    background-color: #535353 !important;
}

.text-muted {
    color: #fff !important;
}

.nav-item a.active {
    background-color: #cecece;
}

.card-pricing.popular {
    z-index: 1;
    border: 3px solid #007bff;
}
.card-pricing .list-unstyled li{
    padding: .5rem 0;
    color: #6c757d;
}

.title-plan {
    font-weight: 700
}

.card-pricing .list-unstyled li ul.sublist {
    padding-left:0;
}

.card-pricing .list-unstyled li ul.sublist li {
    padding: 0;
    font-size:12px;
    color: #6c757d;
    list-style: none;
}


.prices {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

.dataTables_scrollBody {
    max-height: 800px !important;
}

#id_foto_documento {
background-color: #fff;

padding: 10px;

border-radius: 5px;
}