{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>BACKOFFICE LUCREE</title>
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'dashboard/assets/img/brand/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="96x96" href="{% static 'dashboard/assets/img/brand/favicon-96x96.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'dashboard/assets/img/brand/favicon-16x16.png' %}">
    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
    <!-- Icons -->
    <link href="{% static 'dashboard/assets/vendor/nucleo/css/nucleo.css' %}" rel="stylesheet">
    <link href="{% static 'dashboard/assets/vendor/@fortawesome/fontawesome-free/css/all.min.css' %}" rel="stylesheet">
    <!-- Argon CSS -->
    <link type="text/css" href="{% static 'dashboard/assets/css/argon.css' %}" rel="stylesheet">
    <link type="text/css" href="{% static 'dashboard/assets/css/lucree.css' %}" rel="stylesheet">
    <link type="text/css" href="//cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" rel="stylesheet">
</head>

<body>
<!-- Sidenav -->
<nav class="navbar navbar-vertical fixed-left navbar-expand-md navbar-light bg-white" id="sidenav-main">
    <div class="container-fluid">
        <!-- Toggler -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#sidenav-collapse-main"
                aria-controls="sidenav-main" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <!-- Brand -->
        <a class="navbar-brand pt-0" href="#">
            <img class="navbar-brand-img" src="{% static 'dashboard/assets/img/brand/Logo-lucre.png' %}">
        </a>
        <!-- User -->
        <ul class="nav align-items-center d-md-none">
            <li class="nav-item dropdown">
                <a class="nav-link" href="#" role="button" data-toggle="dropdown" aria-haspopup="true"
                   aria-expanded="false">
                    <div class="media align-items-center">
              <span class="avatar avatar-sm rounded-circle">
                  <i class="fas fa-user"></i>
              </span>
                    </div>
                </a>
                <div class="dropdown-menu dropdown-menu-arrow dropdown-menu-right">
                    <div class=" dropdown-header noti-title">
                        <h6 class="text-overflow m-0">Olá! {{ logged_user.username }}</h6>
                    </div>
                    <div class="dropdown-divider"></div>
                    <a href="/dashboard/exit/" class="dropdown-item">
                        <i class="fas fa-key"></i>
                        <span>Alterar senha</span>
                    </a>
                    <a href="/dashboard/exit/" class="dropdown-item">
                        <i class="ni ni-user-run"></i>
                        <span>Sair</span>
                    </a>
                </div>
            </li>
        </ul>
        <!-- Collapse -->
        <div class="collapse navbar-collapse" id="sidenav-collapse-main">
            <!-- Collapse header -->
            <div class="navbar-collapse-header d-md-none">
                <div class="row">
                    <div class="col-6 collapse-brand">
                        <a href="#">
                            <img src="{% static 'dashboard/assets/img/brand/Logo-lucre.png' %}">
                        </a>
                    </div>
                    <div class="col-6 collapse-close">
                        <button type="button" class="navbar-toggler" data-toggle="collapse"
                                data-target="#sidenav-collapse-main" aria-controls="sidenav-main" aria-expanded="false"
                                aria-label="Toggle sidenav">
                            <span></span>
                            <span></span>
                        </button>
                    </div>
                </div>
            </div>
            <!-- Form -->
            <!-- Navigation -->


            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link {% if request.get_full_path == '/dashboard/' %} active {% endif %}"
                       href="/dashboard/">
                        <i class="ni ni-tv-2 text-primary"></i> Dashboard
                    </a>
                </li>
                <li class="nav-item">
                    <a data-toggle="collapse" class="nav-link " href="#submenu1sub1" data-toggle="collapse"
                       data-target="#submenu1sub1"
                       aria-expanded="{% if request.get_full_path == '/dashboard/merchants/' or request.get_full_path == '/dashboard/merchants-approved/' or request.get_full_path == '/dashboard/merchants-risc/' or request.get_full_path == '/dashboard/merchants-denied/'%}true{%else%}false{%endif%}">
                        <i class="fas fa-users text-blue"></i>Clientes</a>
                    <ul class="collapse list-unstyled {% if request.get_full_path == '/dashboard/merchants/' or request.get_full_path == '/dashboard/merchants-approved/' or request.get_full_path == '/dashboard/merchants-risc/' or request.get_full_path == '/dashboard/merchants-denied/'%}show{%else%}false{%endif%}"
                        id="submenu1sub1">
                        <li class="nav-item" style="margin-left: 30px">
                            <a class="nav-link {% if request.get_full_path == '/dashboard/merchants/' %} active {% endif %}"
                               href="/dashboard/merchants/">
                                <i class="fas fa-users text-yellow"></i>Em análise
                            </a>
                        </li>

                        <li class="nav-item" style="margin-left: 30px">
                            <a class="nav-link {% if request.get_full_path == '/dashboard/merchants-approved/' %} active {% endif %}"
                               href="/dashboard/merchants-approved/">
                                <i class="fas fa-users text-green"></i> Aprovados
                            </a>
                        </li>

                        <li class="nav-item" style="margin-left: 30px">
                            <a class="nav-link {% if request.get_full_path == '/dashboard/merchants-risc/' %} active {% endif %}"
                               href="/dashboard/merchants-risc/">
                                <i class="fas fa-users text-orange"></i> Com pendências
                            </a>
                        </li>

                        <li class="nav-item" style="margin-left: 30px">
                            <a class="nav-link {% if request.get_full_path == '/dashboard/merchants-denied/' %} active {% endif %}"
                               href="/dashboard/merchants-denied/">
                                <i class="fas fa-users text-red"></i> Recusados
                            </a>
                        </li>
                    </ul>
                </li>


                <!--<li class="nav-item">-->
                    <!--<a class="nav-link {% if request.get_full_path == '/dashboard/pedidos-autorizados/' %} active {% endif %}"-->
                       <!--href="/dashboard/pedidos-autorizados/">-->
                        <!--<i class="fas fa-file-invoice-dollar text-green"></i> Pedidos autorizados-->
                    <!--</a>-->
                <!--</li>-->

                <li class="nav-item">
                    <a data-toggle="collapse" class="nav-link " href="#submenu1sub2" data-toggle="collapse"
                       data-target="#submenu1sub2"
                       aria-expanded="{% if request.get_full_path == '/dashboard/merchants/' or request.get_full_path == '/dashboard/merchants-approved/' or request.get_full_path == '/dashboard/merchants-risc/' or request.get_full_path == '/dashboard/merchants-denied/'%}true{%else%}false{%endif%}">
                        <i class="fas fa-briefcase text-blue"></i>Comercial</a>


                    <ul class="collapse list-unstyled {% if request.get_full_path == '/dashboard/planos'%}show{%else%}false{%endif%}"
                        id="submenu1sub2">
                        <li class="nav-item" style="margin-left: 30px">
                            <a class="nav-link {% if request.get_full_path == '/dashboard/produtos' %} active {% endif %}"
                               href="/dashboard/produtos">
                                <i class="fas fa-mobile-alt text-green"></i>Produtos
                            </a>
                        </li>
                        <li class="nav-item" style="margin-left: 30px">
                            <a class="nav-link {% if request.get_full_path == '/dashboard/planos' %} active {% endif %}"
                               href="/dashboard/planos">
                                <i class="fas fa-boxes text-yellow"></i>Planos
                            </a>
                        </li>

                         <li class="nav-item" style="margin-left: 30px">
                            <a class="nav-link {% if request.get_full_path == '/dashboard/distribuidores' %} active {% endif %}"
                               href="/dashboard/distribuidores">
                                <i class="fas fa-piggy-bank text-blue"></i>Distribuidores
                            </a>
                        </li>

                    </ul>
                </li>

                <li class="nav-item">
                    <a class="nav-link {% if request.get_full_path == '/dashboard/terminals/' %} active {% endif %}"
                       href="/dashboard/terminals/">
                        <i class="fas fa-mobile-alt text-blue"></i> Terminais
                    </a>
                </li>
                {%if request.user.profile.location == 'financeiro'%}
                <li class="nav-item">
                    <a class="nav-link {% if request.get_full_path == '/dashboard/doc-split' %} active {% endif %}"
                       href="/dashboard/doc-split">
                        <i class="fas fa-file-invoice-dollar text-blue"></i> Split de pagamento
                    </a>
                </li>
                {%endif%}
            </ul>
        </div>
    </div>
</nav>
<!-- Main content -->
{% block content %}
{% endblock %}
<!-- Argon Scripts -->
<!-- Core -->
<script src="{% static 'dashboard/assets/vendor/jquery/dist/jquery.min.js' %}"></script>
<script src="{% static 'dashboard/assets/vendor/bootstrap/dist/js/bootstrap.bundle.min.js' %}"></script>
<!-- Optional JS -->
<script src="{% static 'dashboard/assets/vendor/chart.js/dist/Chart.min.js' %}"></script>
<script src="{% static 'dashboard/assets/vendor/chart.js/dist/Chart.extension.js' %}"></script>
<!-- Argon JS -->
<script src="{% static 'dashboard/assets/js/argon.js' %}"></script>
<script src="{% static 'dashboard/assets/js/jquery.mask.js' %}"></script>
<script src="{% static 'dashboard/assets/js/config/config.js' %}"></script>
<script src="{% static 'dashboard/assets/js/config/mascaras/mascaras.js' %}"></script>
<script src="{% static 'dashboard/assets/js/config/abas/abas.js' %}"></script>
<script src="{% static 'dashboard/assets/js/config/risco/risco.js' %}"></script>
<script src="{% static 'dashboard/assets/js/requests/paystore.js' %}"></script>
<script src="{% static 'dashboard/assets/js/requests/consultaCep.js' %}"></script>
<script src="//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
<script src="{% static 'dashboard/assets/js/config/datatables/datatables.js' %}"></script>
</body>
</html>