{% extends 'dashboard/base.html' %}

{% block content %}
{% load static %}
<div class="main-content painel-lucree">
    <!-- Top navbar -->
    <nav class="navbar navbar-top navbar-expand-md navbar-dark" id="navbar-main">
        <div class="container-fluid">
            <!-- Brand -->
            <a class="h4 mb-0 text-white text-uppercase d-none d-lg-inline-block" href="#">Consulta de documentação</a>

            <!-- User -->
            {% include 'dashboard/menu_superior.html' %}
        </div>
    </nav>
    <!-- Header -->
    <div id="header" class="header bg-gradient-primary pb-8 pt-5 pt-md-8">

        <img alt="Image placeholder" src="{% static 'dashboard/assets/img/logo-idwall-black.png' %}" style="width: width: 180px;height: 45px;margin-left: 40px;margin-bottom:10px">
    </div>
    <!-- Page content -->
    <div id="perfil" class="container-fluid mt--7 painel-lucree">
        <div class="row mt-5" style="margin-bottom: 120px">
            <div class="col-xl-12 mb-5 mb-xl-0">
                <div class="card shadow">
                    <form role="form" action="/dashboard/consulta-idwall/" id="search-doc" method="POST">
                        <div class="card-header border-0">
                            <div class="row align-items-center">
                                <div class="col">
                                    <h3 class="mb-0">DOCUMENTAÇÃO</h3>
                                </div>
                                <div class="col text-right">
                                    <button class="btn btn-icon btn-sm btn-success" type="submit">
                                        <span class="btn-inner--icon"><i class="fas fa-search"></i></span>
                                        <span class="btn-inner--text">Consultar</span>
                                    </button>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-12" style="background-color:#dedede;padding-top: 20px">

                                {% csrf_token %}
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>TIPO DE DOCUMENTO</label>
                                            {{form.tipo_doc}}

                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>NÚMERO</label>
                                            {{form.numero}}
                                        </div>
                                    </div>
                                </div>


                        </div>
                    </form>
                </div>



            </div>

        </div>
        <!-- Footer -->

    </div>

    <div class="modal fade" id="modal-sucess" tabindex="-1" role="dialog" data-backdrop="static" aria-labelledby="exampleModalLabel">
        <div class="modal-dialog modal-dialog-centered" role="document">

            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title" id="modal-title-default"></h3>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <br>
                    <span style="font-weight: 700" id="titleError"></span> <br>
                    <span id="fieldsError"></span>
                </div>
                <div class="modal-footer">
                    <a href="/dashboard/merchants" type="button" id="btnOk" class="btn btn-primary">OK</a>
                </div>
            </div>
        </div>
    </div>
</div>

</div>
{% endblock %}