{% extends 'dashboard/base.html' %}
{% block content %}
{% load static %}
<div class="main-content painel-lucree">
    <!-- Top navbar -->
    <nav class="navbar navbar-top navbar-expand-md navbar-dark" id="navbar-main">
        <div class="container-fluid">
            <!-- Brand -->
            <a class="h4 mb-0 text-white text-uppercase d-none d-lg-inline-block" href="#">Distribuidores</a>
            <!-- User -->
            {% include 'dashboard/menu_superior.html' %}
        </div>
    </nav>
    <!-- Header -->

    <div id="header" class="header bg-gradient-primary pb-8 pt-5 pt-md-8">
    </div>

    <!-- Page content -->
    {% csrf_token %}
    <div class="container-fluid mt--7 painel-lucree">
        <div class="row mt-5">
            <div class="col-xl-12 mb-5 mb-xl-0">
                <div class="card shadow">
                    <div class="card-header border-0">
                        <div class="row align-items-center">
                            <div class="col">
                                <h3 class="mb-0">Distribuidores</h3>
                            </div>
                            <div class="col-4 text-right">
                                <a href="/dashboard/novo-distribuidor/" class="btn btn-primary"><i
                                        class="fas fa-plus"></i></a>
                            </div>
                        </div>
                    </div>
                    {%if apagado is not None %}
                    {%if apagado is True%}
                    <div class="alert alert-success" role="alert">
                        Distribuidor apagado com sucesso!
                    </div>
                    {%else%}
                    <div class="alert alert-danger" role="alert">
                        Falha ao remover o distribuidor!
                    </div>
                    {%endif%}
                    {%endif%}
                    <div class="table-responsive">
                        <!-- Projects table -->
                        <table class="table align-items-center table-flush">
                            <thead class="thead-light">
                            <tr>
                                <th>Razão social</th>
                                <th>CNPJ</th>
                                <th>Agência bancária</th>
                                <th>Conta bancária</th>
                                <th>Banco</th>
                                <th>Tipo de conta</th>
                                <th>Ações</th>
                            </tr>
                            </thead>
                            <tbody>

                            {% for distribuidor in distribuidores %}
                            <tr>
                                <td>
                                    {{ distribuidor.razao_social }}
                                </td>
                                <td>
                                    {{ distribuidor.cnpj }}
                                </td>

                                <td>
                                    {{ distribuidor.agencia }}
                                </td>

                                <td>
                                    {{ distribuidor.conta }}
                                </td>


                                <td>
                                    {{ distribuidor.banco }}
                                </td>


                                <td>
                                    {{ distribuidor.tipo_conta }}
                                </td>

                                <td>
                                    <a href="/dashboard/edit-distribuidor/{{distribuidor.id}}" id="alterar_produto"
                                       style="color:#fff" class="btn btn-sm btn-primary mb-3">Alterar
                                    </a>
                                    <!--<button type="button" id="excluir_distribuidor" data-toggle="modal"
                                            data-url="/dashboard/delete-produto/{{produto.id}}"
                                            data-target="#modal-exclusao-prod"
                                            style="color:#fff" class="btn btn-sm btn-danger mb-3">Excluir
                                    </button>-->
                                </td>
                            </tr>
                            {% endfor %}

                            </tbody>
                        </table>
                    </div>

                </div>
            </div>

        </div>
        <!-- Footer -->
        <footer class="footer">
            <div class="row align-items-center justify-content-xl-between">
                <div class="col-xl-6">
                    <div class="copyright text-center text-xl-left text-muted">
                        &copy; 2018 E2F
                    </div>
                </div>
            </div>
        </footer>
    </div>
    <div class="modal fade" id="modal-sucess" tabindex="-1" role="dialog" data-backdrop="static"
         aria-labelledby="exampleModalLabel">
        <div class="modal-dialog modal-dialog-centered" role="document">

            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title" id="modal-title-default"></h3>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <br>
                    <span style="font-weight: 700" id="titleError"></span> <br>
                    <span id="fieldsError"></span>
                </div>
                <div class="modal-footer">
                    <a href="/dashboard/merchants" type="button" id="btnOk" class="btn btn-primary">OK</a>
                </div>
            </div>
        </div>
    </div>


    <div class="modal fade" id="modal-exclusao-prod" tabindex="-1" role="dialog" aria-labelledby="modal-notification"
         aria-hidden="true">
        <div class="modal-dialog modal-danger modal-dialog-centered modal-" role="document">
            <div class="modal-content bg-gradient-danger">

                <div class="modal-header">
                    <h6 class="modal-title" id="modal-title-notification">Esta ação requer sua atenção!</h6>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>

                <div class="modal-body">

                    <div class="py-3 text-center">
                        <i class="ni ni-bell-55 ni-3x"></i>
                        <h4 class="heading mt-4">Você tem certeza disso?!</h4>
                        <p>Tenha em vista que se você excluir este produto, todos os planos que tem este produto
                            vinculado a ele, irá ser exclúido também. Indicamos que primeiramente altere o produto
                            relacionado ao Plano</p>
                    </div>

                </div>

                <div class="modal-footer">
                    <a type="button" style="color: #000" class="btn btn-white btn-certeza-prod">Tenho certeza!</a>
                    <button type="button" class="btn btn-link text-white ml-auto" data-dismiss="modal">Cancelar</button>
                </div>

            </div>
        </div>
    </div>
</div>

</div>
<script>


</script>

{% endblock %}