{% extends 'dashboard/base.html' %}
{% block content %}
{% load static %}
<div class="main-content">
    <!-- Top navbar -->
    <!-- Header -->
    <nav class="navbar navbar-top navbar-expand-md navbar-dark" id="navbar-main">
        <div class="container-fluid">
            <!-- Brand -->
            <a class="h4 mb-0 text-white text-uppercase d-none d-lg-inline-block" href="#">Produtos</a>
            <!-- User -->
            {% include 'dashboard/menu_superior.html' %}
        </div>
    </nav>
    <div class="header pb-8 pt-5 pt-lg-8 d-flex align-items-center"
         style="min-height: 600px; background-image: url({% static 'dashboard/assets/img/theme/profile-cover.jpg' %}); background-size: cover; background-position: center top;">
        <!-- Mask -->
        <span class="mask bg-gradient-default opacity-8"></span>
        <!-- Header container -->
        <div class="container-fluid d-flex align-items-center">
            <div class="row">
                <div class="col-lg-7 col-md-10">
                    <h1 class="display-2 text-white">{{produto.descricao}}</h1>
                    <p class="text-white mt-0 mb-5">Utilize o formulário abaixo para alterar o produto da maneira que
                        desejar, estaremos registrando em logs cada ação realizada.</p>
                </div>
            </div>
        </div>
    </div>
    <!-- Page content -->
    <div class="container-fluid mt--7">
        <div class="row">
            <div class="col-xl-12 order-xl-1">
                <div class="card bg-secondary shadow">
                    <form action="/dashboard/edit-produto/{{idprod}}" method="POST">
                        {% csrf_token %}
                        <div class="card-header bg-white border-0">
                            <div class="row align-items-center">
                                <div class="col-8">
                                    <h3 class="mb-0">Dados do produto</h3>
                                </div>
                                <div class="col-4 text-right">
                                    <button type="submit" class="btn btn-sm btn-primary">Salvar</button>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            {%if success is True%}
                            <div class="alert alert-success" role="alert">
                                {{msg}}
                            </div>
                            {%elif success is False%}
                            <div class="alert alert-danger" role="alert">
                                {{msg}}
                            </div>
                            {%endif%}

                            <div class="pl-lg-4">
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label class="form-control-label" for="nome_plano">Descrição</label>
                                            {{form.descricao}}

                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label class="form-control-label"
                                                   for="valor_contratacao">Identificador</label>
                                            {{form.identificador}}
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-4">
                                        <div class="form-check">
                                            {{form.gprs}}
                                            <label class="form-check-label" for="defaultCheck2">
                                                GPRS
                                            </label>
                                        </div>

                                    </div>
                                    <div class="col-lg-4">
                                        <div class="form-check">
                                            {{form.wifi}}
                                            <label class="form-check-label" for="defaultCheck2">
                                                WIFI
                                            </label>
                                        </div>
                                    </div>

                                </div>
                            </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- Footer -->
    <!--<footer class="footer">-->
    <!--<div class="row align-items-center justify-content-xl-between">-->
    <!--<div class="col-xl-6">-->
    <!--<div class="copyright text-center text-xl-left text-muted">-->
    <!--&copy; 2018 E2F-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->
    <!--</footer>-->
</div>

</div>


{% endblock %}