{% extends 'dashboard/base.html' %}
{% block content %}
{% load static %}
<div class="main-content">
    <!-- Top navbar -->
    <!-- Header -->
    <nav class="navbar navbar-top navbar-expand-md navbar-dark" id="navbar-main">
        <div class="container-fluid">
            <!-- Brand -->
            <a class="h4 mb-0 text-white text-uppercase d-none d-lg-inline-block" href="#">Planos</a>
            <!-- User -->
            {% include 'dashboard/menu_superior.html' %}
        </div>
    </nav>
    <div class="header pb-8 pt-5 pt-lg-8 d-flex align-items-center"
         style="min-height: 600px; background-image: url({% static 'dashboard/assets/img/theme/profile-cover.jpg' %}); background-size: cover; background-position: center top;">
        <!-- Mask -->
        <span class="mask bg-gradient-default opacity-8"></span>
        <!-- Header container -->
        <div class="container-fluid d-flex align-items-center">
            <div class="row">
                <div class="col-lg-7 col-md-10">
                    <h1 class="display-2 text-white">NOVO PLANO</h1>
                    <p class="text-white mt-0 mb-5">Utilize o formulário abaixo para inserir o plano da maneira que
                        desejar, estaremos registrando em logs cada ação realizada.</p>
                </div>
            </div>
        </div>
    </div>
    <!-- Page content -->
    <div class="container-fluid mt--7">
        <div class="row">
            <div class="col-xl-12 order-xl-1">
                <div class="card bg-secondary shadow">
                    <form action="/dashboard/novo-plano/" method="POST">
                        {% csrf_token %}
                    <div class="card-header bg-white border-0">
                        <div class="row align-items-center">
                            <div class="col-8">
                                <h3 class="mb-0">Dados do plano</h3>
                            </div>
                            <div class="col-4 text-right">
                                <button type="submit" class="btn btn-sm btn-primary">Salvar</button>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        {%if success is True%}
                            <div class="alert alert-success" role="alert">
                               {{msg}}
                            </div>
                        {%elif success is False%}
                        <div class="alert alert-danger" role="alert">
                               {{msg}}
                            </div>
                        {%endif%}

                            <div class="pl-lg-4">
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label class="form-control-label" for="nome_plano">Nome</label>
                                            {{form.nome_plano}}

                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label class="form-control-label" for="valor_contratacao">Valor de
                                                adesão</label>
                                            {{form.valor_adesao_plano}}
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-4">
                                        <div class="form-group">
                                            <label class="form-control-label" for="taxa_debito">Taxa de
                                                débito</label>
                                            {{form.taxa_debito}}
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="form-group">
                                            <label class="form-control-label" for="taxa_credito">Taxa de
                                                crédito</label>
                                            {{form.taxa_credito}}
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="form-group">
                                            <label class="form-control-label" for="input-last-name">Taxa
                                                parcelado</label>
                                            {{form.taxa_parcelado}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <hr class="my-4"/>
                            <!-- Address -->
                            <div class="pl-lg-4">
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="form-control-label" for="tipo_plano">Tipo de plano</label>
                                            {{form.tipo_plano}}
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="form-control-label" for="adiquirente">Adquirente</label>
                                            {{form.adquirente_plano}}
                                        </div>
                                    </div>

                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="form-control-label" for="adiquirente">Produto</label>
                                            {{form.prod}}
                                        </div>
                                    </div>
                                </div>

                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- Footer -->
        <!--<footer class="footer">-->
        <!--<div class="row align-items-center justify-content-xl-between">-->
        <!--<div class="col-xl-6">-->
        <!--<div class="copyright text-center text-xl-left text-muted">-->
        <!--&copy; 2018 E2F-->
        <!--</div>-->
        <!--</div>-->
        <!--</div>-->
        <!--</footer>-->
    </div>

</div>


{% endblock %}