<ul class="navbar-nav align-items-center d-none d-md-flex">
                <li class="nav-item dropdown">
                    <a class="nav-link pr-0" href="#" role="button" data-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="false">
                        <div class="media align-items-center">
                            <div class="media-body ml-2 d-none d-lg-block">
                                <span class="mb-0 text-sm  font-weight-bold">{{ logged_user.username }}</span>
                            </div>
                        </div>
                    </a>
                    <div class="dropdown-menu dropdown-menu-arrow dropdown-menu-right">
                        <div class=" dropdown-header noti-title">
                            <h6 class="text-overflow m-0">Olá!</h6>
                        </div>

                        <div class="dropdown-divider"></div>
                        <a href="/dashboard/altera-senha" class="dropdown-item">
                            <i class="fas fa-key"></i>
                            <span>Alterar senha</span>
                        </a>
                        <a href="/dashboard/exit/" class="dropdown-item">
                            <i class="ni ni-user-run"></i>
                            <span>Sair</span>
                        </a>
                    </div>
                </li>
            </ul>