{% extends 'dashboard/base.html' %}

{% block content %}
{% load static %}
<div class="main-content">
    <!-- Top navbar -->
    <nav class="navbar navbar-top navbar-expand-md navbar-dark" id="navbar-main">
        <div class="container-fluid">
            <!-- Brand -->
            <a class="h4 mb-0 text-white text-uppercase d-none d-lg-inline-block" href="#">Clientes</a>

            {% include 'dashboard/menu_superior.html' %}
        </div>
    </nav>
    <!-- Header -->
    <div class="header bg-gradient-primary pb-8 pt-5 pt-md-8">

    </div>
    <!-- Page content -->
    <div class="container-fluid mt--7 painel-lucree">
        <div class="row mt-5">
            <div class="col-xl-12 mb-5 mb-xl-0">
                <div class="card shadow">
                    <div class="card-header border-0">
                        <div class="row align-items-center">
                            <div class="col">
                                <h3 class="mb-0">Clientes com pendências</h3>
                            </div>
                        </div>
                    </div>
                    {% if error %}
                    <div class="alert alert-danger" role="alert" style="margin: 10px;">
                        {{error}}
                    </div>
                    {% else %}
                    <div class="table-responsive" style="background-color: #e9e9e9;padding: 30px;">
                        <!-- Projects table -->
                        <table  id="example" class="display" style="width:100%">
                            <thead>
                                <tr>
                                    <th>Resultado da Análise</th>
                                    <th>Nome/Nome fantasia</th>
                                    <th>CPF/CNPJ</th>
                                    <th>Status na ID WALL</th>
                                    <th>Data de Cadastro</th>
                                    <th>Fase (BackOffice)</th>
                                    <th >Ações</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for merchant in merchants %}
                                <tr>
                                    <td>
                                        {%if merchant.resultado_idwall == 'VALID'%}
                                            <span class="badge badge-success">Cadastro válido</span>
                                        {%elif merchant.resultado_idwall == 'INVALID'%}
                                            <span class="badge badge-warning">Cadastro com risco</span>
                                        {%else%}
                                            <span class="badge badge-danger">Aguardando análise</span>
                                        {%endif%}
                                    </td>
                                    <td>
                                        {{merchant.nome}}
                                    </td>
                                    <td>
                                        {{merchant.documento}}
                                    </td>
                                    <td>
                                        {%if merchant.status_idwall == 'CONCLUIDO'%}
                                            <span class="badge badge-success">Consulta Concluída</span>
                                        {%elif merchant.status_idwall == 'EM ANÁLISE'%}
                                            <span class="badge badge-warning">Em análise</span>
                                        {%else%}
                                            <span class="badge badge-danger">Aguardando resultado</span>
                                        {%endif%}
                                    </td>
                                    <td>
                                        {{merchant.data_cadastro}}
                                    </td>
                                    <td>
                                        <span class="badge badge-info">{{merchant.fase}}</span>
                                    </td>
                                    <td><a href="/dashboard/risc-details/{{merchant.id}}/" class="btn btn-warning btn-sm">Visualizar</a></td>
                                </tr>
                                {% endfor %}
                            </tbody>
                            <tfoot>
                                <tr>
                                    <th >Resultado da Análise</th>
                                    <th >Nome/Nome fantasia</th>
                                    <th >CPF/CNPJ</th>
                                    <th >Status na ID WALL</th>
                                    <th >Data de Cadastro</th>
                                    <th >Fase (BackOffice)</th>
                                    <th >Ações</th>
                                </tr>
                                </tfoot>
                        </table>
                    </div>
                    {% endif %}

                </div>
            </div>
        </div>
        <!-- Footer -->
        <footer class="footer">
            <div class="row align-items-center justify-content-xl-between">
                <div class="col-xl-6">
                    <div class="copyright text-center text-xl-left text-muted">
                        &copy; 2018 E2F
                    </div>
                </div>
            </div>
        </footer>
    </div>
</div>

{% endblock %}