{% extends 'dashboard/base.html' %}

{% block content %}
{% load static %}
<div class="main-content painel-lucree">
    <!-- Top navbar -->
    <nav class="navbar navbar-top navbar-expand-md navbar-dark" id="navbar-main">
        <div class="container-fluid">
            <!-- Brand -->
            <a class="h4 mb-0 text-white text-uppercase d-none d-lg-inline-block" href="#">Cadastro de
                Lojista</a>

            <!-- User -->
            {% include 'dashboard/menu_superior.html' %}
        </div>
    </nav>
    <!-- Header -->
    <div id="header" class="header bg-gradient-primary pb-8 pt-5 pt-md-8">
            <img alt="Image placeholder" src="{% static 'dashboard/assets/img/paystore.png' %}" style="width: 180px;height: 45px;margin-left: 40px;margin-bottom:10px">
            <img alt="Image placeholder" src="{% static 'dashboard/assets/img/logo_foward.png' %}" style="width: 100px;height: 45px;margin-left: 20px;margin-bottom:10px">
    </div>
    <!-- Page content -->
    <div id="perfil" class="container-fluid mt--7 painel-lucree">
        <div class="row mt-5" style="margin-bottom: 120px">
            <div class="col-xl-12 mb-5 mb-xl-0">
                <div class="card shadow">
                    <div class="card-header border-0">
                        <div class="row align-items-center">
                            <div class="col">
                                <h3 class="mb-0">PERFIL</h3>
                            </div>
                            <div class="col text-right">
                                <a href="#dados_comerciais" class="btn btn-icon btn-sm btn-success" type="button">
                                    <span class="btn-inner--icon"><i class="fas fa-arrow-down"></i></span>
                                    <span class="btn-inner--text">Próximo</span>
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-12" style="background-color:#dedede;padding-top: 20px">
                        <form role="form" action="/dashboard/add-merchant/" id="post-merchant" method="POST">
                            {% csrf_token %}
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>TIPO DE PESSOA</label>

                                        {{ form.tipo }}
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>RAMO DE ATIVIDADE</label>
                                        {{ form.categories_form }}
                                    </div>
                                </div>
                            </div>


                    </div>
                </div>



            </div>

        </div>
        <!-- Footer -->

    </div>

    <div id="dados_comerciais" class="container-fluid mt--7">
        <div class="row mt-5" style="margin-bottom: 120px">
            <div class="col-xl-12 mb-5 mb-xl-0">
                <div class="card shadow">
                    <div class="card-header border-0">
                        <div class="row align-items-center">
                            <div class="col">
                                <h3 class="mb-0">DADOS COMERCIAIS</h3>
                            </div>
                            <div class="col text-right">
                                <a href="#endereco" class="btn btn-icon btn-sm btn-success" type="button">
                                    <span class="btn-inner--icon"><i class="fas fa-arrow-down"></i></span>
                                    <span class="btn-inner--text">Próximo</span>
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-12" style="background-color:#dedede;padding-top: 20px">

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>CPF/CNPJ*</label>
                                    {{ form.cpf }}
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>NOME FANTASIA</label>
                                    {{ form.nome_fantasia }}
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>E-MAIL</label>
                                    {{ form.email }}
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>TELEFONE</label>
                                    {{ form.telefone }}
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>PÁGINA WEB</label>
                                    {{ form.pagina_web }}
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>INSCRIÇÃO MUNICIPAL</label>
                                    {{ form.inscricao_municipal }}
                                </div>
                            </div>
                        </div>


                    </div>
                </div>



            </div>

        </div>

    </div>

    <div id="endereco" class="container-fluid mt--7">
        <div class="row mt-5" style="margin-bottom: 120px">
            <div class="col-xl-12 mb-5 mb-xl-0">
                <div class="card shadow">
                    <div class="card-header border-0">
                        <div class="row align-items-center">
                            <div class="col">
                                <h3 class="mb-0">ENDEREÇO</h3>
                            </div>
                            <div class="col text-right">
                                <a href="#titular" class="btn btn-icon btn-sm btn-success" type="button">
                                    <span class="btn-inner--icon"><i class="fas fa-arrow-down"></i></span>
                                    <span class="btn-inner--text">Próximo</span>
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-12" style="background-color:#dedede;padding-top: 20px">

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>CEP</label>
                                    {{ form.cep }}
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>UF</label>
                                    {{ form.uf }}
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>CIDADE</label>
                                    {{ form.cidade }}
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>ENDEREÇO</label>
                                    {{ form.endereco }}
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>BAIRRO</label>
                                    {{ form.bairro }}
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>NÚMERO</label>
                                    {{ form.numero }}
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>COMPLEMENTO</label>
                                    {{ form.complemento }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="titular" class="container-fluid mt--7">
        <div class="row mt-5" style="margin-bottom: 120px">
            <div class="col-xl-12 mb-5 mb-xl-0">
                <div class="card shadow">
                    <div class="card-header border-0">
                        <div class="row align-items-center">
                            <div class="col">
                                <h3 class="mb-0">TITULAR DA CONTA</h3>
                            </div>
                            <div class="col text-right">
                                <a href="#header" class="btn btn-icon btn-sm btn-success" type="button">
                                    <span class="btn-inner--icon"><i class="fas fa-arrow-up"></i></span>
                                    <span class="btn-inner--text">Topo</span>
                                </a>
                                <button type="submit" id="salvar_lojista" class="btn btn-sm btn-success">Salvar</button>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-12" style="background-color:#dedede;padding-top: 20px">

                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label>NOME COMPLETO</label>
                                    {{ form.nome }}
                                </div>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label>E-MAIL</label>
                                    {{ form.email_titular }}
                                </div>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>TELEFONE</label>
                                    {{ form.telefone_titular }}
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>WHATSAPP</label>
                                    {{ form.whatsapp }}
                                </div>
                            </div>
                        </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <footer class="footer">
            <div class="row align-items-center justify-content-xl-between">
                <div class="col-xl-6">
                    <div class="copyright text-center text-xl-left text-muted">
                        &copy; 2018 E2F
                    </div>
                </div>
            </div>
        </footer>
    </div>
    <div class="modal fade" id="modal-sucess" tabindex="-1" role="dialog" data-backdrop="static" aria-labelledby="exampleModalLabel">
        <div class="modal-dialog modal-dialog-centered" role="document">

            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title" id="modal-title-default"></h3>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <br>
                    <span style="font-weight: 700" id="titleError"></span> <br>
                    <span id="fieldsError"></span>
                </div>
                <div class="modal-footer">
                    <a href="/dashboard/merchants" type="button" id="btnOk" class="btn btn-primary">OK</a>
                </div>
            </div>
        </div>
    </div>
</div>

</div>
{% endblock %}