{% extends 'dashboard/base.html' %}

{% block content %}

<div class="main-content">
    <nav class="navbar navbar-top navbar-expand-md navbar-dark" id="navbar-main">
        <div class="container-fluid">
            <a class="h4 mb-0 text-white text-uppercase d-none d-lg-inline-block" href="#">Dashboard</a>
            {% include 'dashboard/menu_superior.html' %}
        </div>
    </nav>
    <div class="header bg-gradient-primary pb-8 pt-5 pt-md-8">
        <div class="container-fluid">
            <div class="header-body">
                <div class="row">
                    <div class="col-xl-3 col-lg-6">
                        <div class="card card-stats mb-4 mb-xl-0">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col">
                                        <h5 class="card-title text-uppercase text-muted2 mb-0">Clientes em análise</h5>
                                        <span class="h2 font-weight-bold mb-0">{{merchants_analise}}</span>
                                    </div>
                                    <div class="col-auto">
                                        <div class="icon icon-shape bg-yellow text-white rounded-circle shadow">
                                            <i class="fas fa-users"></i>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="col-xl-3 col-lg-6">
                        <div class="card card-stats mb-4 mb-xl-0">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col">
                                        <h5 class="card-title text-uppercase text-muted2 mb-0">Clientes aprovados</h5>
                                        {% if error %}
                                        <span class="h2 font-weight-bold mb-0">N/A</span>
                                        {% else %}
                                        <span class="h2 font-weight-bold mb-0">{{merchants_approved}}</span>
                                        {% endif %}

                                    </div>
                                    <div class="col-auto">
                                        <div class="icon icon-shape bg-green text-white rounded-circle shadow">
                                            <i class="fas fa-users"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="col-xl-3 col-lg-6">
                        <div class="card card-stats mb-4 mb-xl-0">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col">
                                        <h5 class="card-title text-uppercase text-muted2 mb-0">Clientes com risco</h5>
                                        {% if error %}
                                        <span class="h2 font-weight-bold mb-0">N/A</span>
                                        {% else %}
                                        <span class="h2 font-weight-bold mb-0">{{merchants_risc}}</span>
                                        {% endif %}

                                    </div>
                                    <div class="col-auto">
                                        <div class="icon icon-shape bg-orange text-white rounded-circle shadow">
                                            <i class="fas fa-users"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-xl-3 col-lg-6">
                        <div class="card card-stats mb-4 mb-xl-0">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col">
                                        <h5 class="card-title text-uppercase text-muted2 mb-0">Clientes recusados</h5>
                                        {% if error %}
                                        <span class="h2 font-weight-bold mb-0">N/A</span>
                                        {% else %}
                                        <span class="h2 font-weight-bold mb-0">{{merchants_denied}}</span>
                                        {% endif %}

                                    </div>
                                    <div class="col-auto">
                                        <div class="icon icon-shape bg-red text-white rounded-circle shadow">
                                            <i class="fas fa-users"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" style="margin-top: 20px">
                    <!--<div class="col-xl-3 col-lg-6">-->
                        <!--<div class="card card-stats mb-4 mb-xl-0">-->
                            <!--<div class="card-body">-->
                                <!--<div class="row">-->
                                    <!--<div class="col">-->
                                        <!--<h5 class="card-title text-uppercase text-muted2 mb-0">Pedidos aprovados</h5>-->
                                        <!--<span class="h2 font-weight-bold mb-0">{{pedidos}}</span>-->
                                    <!--</div>-->
                                    <!--<div class="col-auto">-->
                                        <!--<div class="icon icon-shape bg-success text-white rounded-circle shadow">-->
                                            <!--<i class="fas fa-file-invoice-dollar"></i>-->
                                        <!--</div>-->
                                    <!--</div>-->
                                <!--</div>-->

                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->

                    <div class="col-xl-3 col-lg-6">
                        <div class="card card-stats mb-4 mb-xl-0">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col">
                                        <h5 class="card-title text-uppercase text-muted2 mb-0">Terminais</h5>
                                        <span class="h2 font-weight-bold mb-0">{{count_terminais}}</span>

                                    </div>
                                    <div class="col-auto">
                                        <div class="icon icon-shape bg-blue text-white rounded-circle shadow">
                                            <i class="fas fas fa-mobile-alt"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                    <!--<div class="col-xl-3 col-lg-6">-->
                        <!--<div class="card card-stats mb-4 mb-xl-0">-->
                            <!--<div class="card-body">-->
                                <!--<div class="row">-->
                                    <!--<div class="col">-->
                                        <!--<h5 class="card-title text-uppercase text-muted2 mb-0">Terminais ativos</h5>-->
                                        <!--{% if error %}-->
                                        <!--<span class="h2 font-weight-bold mb-0">N/A</span>-->
                                        <!--{% else %}-->
                                        <!--<span class="h2 font-weight-bold mb-0">{{merchants.total_elements}}</span>-->
                                        <!--{% endif %}-->

                                    <!--</div>-->
                                    <!--<div class="col-auto">-->
                                        <!--<div class="icon icon-shape bg-green text-white rounded-circle shadow">-->
                                            <!--<i class="fas fa-mobile-alt"></i>-->
                                        <!--</div>-->
                                    <!--</div>-->
                                <!--</div>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->


                </div>
            </div>
        </div>
    </div>
    <!-- Page content -->
    <div class="container-fluid mt--7 painel-lucree">
        <div class="row mt-5">
            <div class="col-xl-8 mb-5 mb-xl-0">
                <div class="card shadow">
                    <div class="card-header border-0">
                        <div class="row align-items-center">
                            <div class="col">
                                <h3 class="mb-0">Clientes</h3>
                            </div>

                        </div>
                    </div>
                    {% if error %}
                    <div class="alert alert-danger" role="alert" style="margin: 10px;">
                        {{error}}
                    </div>
                    {% else %}
                    <div class="table-responsive">
                        <!-- Projects table -->
                        <table class="table align-items-center table-flush">
                            <thead class="thead-light">
                            <tr>
                                <th>Ações</th>
                                <th>Resultado da Análise</th>
                                <th>Nome/Nome fantasia</th>
                                <th>CPF/CNPJ</th>
                                <th>Status na ID WALL</th>
                                <th>Data de Cadastro</th>
                                <th>Fase (BackOffice)</th>
                            </tr>
                            </thead>
                            <tbody>

                            {% for merchant in merchants %}
                            <tr>
                                <td>
                                    {%if merchant.nome != ''%}
                                        <a href="/dashboard/risc-details/{{merchant.id}}/" class="btn btn-warning btn-sm">Visualizar</a>
                                    {%else%}

                                    {%endif%}

                                </td>
                                <td>
                                    {%if merchant.resultado_idwall == 'VALID'%}
                                    <span class="badge badge-success">Cadastro válido</span>
                                    {%elif merchant.resultado_idwall == 'INVALID'%}
                                    <span class="badge badge-warning">Cadastro inválido</span>
                                    {%else%}
                                    <span class="badge badge-danger">Aguardando análise</span>
                                    {%endif%}
                                </td>
                                <td>
                                    {%if merchant.nome != ''%}
                                        {{merchant.nome}}
                                    {%else%}
                                        <strong>AGUARDANDO RETORNO DA ID WALL</strong>
                                    {%endif%}
                                </td>
                                <td>
                                    {{merchant.documento}}
                                </td>
                                <td>
                                    {%if merchant.status_idwall == 'CONCLUIDO'%}
                                    <span class="badge badge-success">Consulta Concluída</span>
                                    {%elif merchant.status_idwall == 'EM ANÁLISE'%}
                                    <span class="badge badge-warning">Em análise</span>
                                    {%else%}
                                    <span class="badge badge-danger">Aguardando resultado</span>
                                    {%endif%}
                                </td>
                                <td>
                                    {{merchant.data_cadastro}}
                                </td>
                                <td>
                                    <span class="badge badge-info">{{merchant.fase}}</span>
                                </td>
                            </tr>
                            {% endfor %}

                            </tbody>
                        </table>
                    </div>
                    {% endif %}

                </div>
            </div>
            <div class="col-xl-4">
                <div class="card shadow">
                    <div class="card-header border-0">
                        <div class="row align-items-center">
                            <div class="col">
                                <h3 class="mb-0">Terminais</h3>
                            </div>
                            <div class="col text-right">
                                <a href="/dashboard/terminals/" class="btn btn-sm btn-success">Ver tudo</a>
                            </div>
                        </div>
                    </div>
                    {% if error %}
                    <div class="alert alert-danger" role="alert" style="margin: 10px;">
                        {{error}}
                    </div>
                    {% else %}
                    <div class="table-responsive">
                        <!-- Projects table -->
                        <table class="table align-items-center table-flush">
                            <thead class="thead-light">
                            <tr>
                                <th scope="col">TID</th>
                                <th scope="col">Lojista</th>
                            </tr>
                            </thead>
                            <tbody>

                            {% for terminal in terminals %}
                            <tr>
                                <th scope="row">
                                    {{terminal.terminal_id.terminal_id_physical}}
                                </th>
                                <td>
                                    {{terminal.lojista_id.nome}}
                                </td>
                            </tr>

                            {% endfor %}

                            </tbody>
                        </table>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
        <!-- Footer -->
        <footer class="footer">
            <div class="row align-items-center justify-content-xl-between">
                <div class="col-xl-6">
                    <div class="copyright text-center text-xl-left text-muted">
                        &copy; 2018 E2F
                    </div>
                </div>
            </div>
        </footer>
    </div>
</div>

{% endblock %}