{% extends 'dashboard/base.html' %}

{% block content %}
{% load static %}
<div class="main-content">
    <!-- Top navbar -->
    <nav class="navbar navbar-top navbar-expand-md navbar-dark" id="navbar-main">
        <div class="container-fluid">
            <!-- Brand -->
            <a class="h4 mb-0 text-white text-uppercase d-none d-lg-inline-block" href="#">Pedidos autorizados</a>

            {% include 'dashboard/menu_superior.html' %}
        </div>
    </nav>
    <!-- Header -->
    <div class="header bg-gradient-primary pb-8 pt-5 pt-md-8">

    </div>
    <!-- Page content -->
    <div class="container-fluid mt--7 painel-lucree">
        <div class="row mt-5">
            <div class="col-xl-12 mb-5 mb-xl-0">
                <div class="card shadow">
                    <div class="card-header border-0">
                        <div class="row align-items-center">
                            <div class="col">
                                <h3 class="mb-0">Pedidos autorizados</h3>
                            </div>
                        </div>
                    </div>
                    <div class="table-responsive" style="background-color: #e9e9e9;padding: 30px;">
                        <!-- Projects table -->
                        <table id="example" class="display" style="width:100%">
                            <thead>
                            <tr>
                                <th>Nº do Pedido</th>
                                <th>Nome do cliente</th>
                                <th>Documento do cliente</th>
                                <th>Fase de validação</th>
                                <th>Status do pedido</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for pedido in pedidos %}
                            <tr>
                                <td>
                                    {{pedido.numero_pedido}}
                                </td>
                                <td>
                                    {%if pedido.lojista.nome == ''%}
                                    Aguardando retorno da documentação
                                    {%else%}
                                    {{pedido.lojista.nome}}
                                    {%endif%}
                                </td>
                                <td>
                                    {{pedido.lojista.documento}}
                                </td>
                                <td>
                                    <span class="badge badge-info">{{pedido.lojista.fase}}</span>
                                </td>
                                <td>
                                    <span class="badge badge-info">{{pedido.status_pedido}}</span>
                                </td>
                            </tr>
                            {% endfor %}
                            </tbody>
                            <tfoot>
                            <tr>
                                <th>Nº do Pedido</th>
                                <th>Nome do cliente</th>
                                <th>Documento do cliente</th>
                                <th>Fase da validação</th>
                                <th>Status do pedido</th>
                            </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <!-- Footer -->
        <footer class="footer">
            <div class="row align-items-center justify-content-xl-between">
                <div class="col-xl-6">
                    <div class="copyright text-center text-xl-left text-muted">
                        &copy; 2018 E2F
                    </div>
                </div>
            </div>
        </footer>
    </div>
</div>

{% endblock %}