{% extends 'dashboard/base.html' %}
{% block content %}
{% load static %}
<div class="main-content painel-lucree">
    <!-- Top navbar -->
    <nav class="navbar navbar-top navbar-expand-md navbar-dark" id="navbar-main">
        <div class="container-fluid">
            <!-- Brand -->
            <a class="h4 mb-0 text-white text-uppercase d-none d-lg-inline-block" href="#">Planos</a>
            <!-- User -->
            {% include 'dashboard/menu_superior.html' %}
        </div>
    </nav>
    <!-- Header -->

    <div id="header" class="header bg-gradient-primary pb-8 pt-5 pt-md-8">
    </div>

    <!-- Page content -->


    {% csrf_token %}
    <div id="novo_cliente_documento" class="container-fluid mt--7 painel-lucree">
        <div id="novo_cliente_taxas" class="container-fluid mt--7 painel-lucree">
            <div class="row mt-5" style="margin-bottom: 120px">
                <div class="col-xl-12 mb-5 mb-xl-0">
                    <div class="card shadow">
                        <div class="card-header border-0">
                            <div class="row align-items-center">
                                <div class="col">
                                    <h3 class="mb-0">PLANOS</h3>
                                </div>
                                <div class="col-4 text-right">
                                    <a href="/dashboard/novo-plano/" class="btn btn-primary"><i class="fas fa-plus"></i></a>
                                </div>
                            </div>
                        </div>

                        <div class="" style="background-color:#dedede;padding-top: 20px">
                            {%if apagado is not None %}
                            {%if apagado is True%}
                            <div class="alert alert-success" role="alert">
                                Plano apagado com sucesso!
                            </div>
                            {%else%}
                            <div class="alert alert-danger" role="alert">
                                Falha ao remover o plano!
                            </div>
                            {%endif%}
                            {%endif%}

                            <div class="text-center col-md-12 offset-md-2">
                                    {% for plano in planos %}
                                    {% if forloop.first %}
                                    <div class="row">{%endif%}
                                        <div style="background-color: #fff; margin-left: 2px; margin-right: 2px; margin-bottom: 18px"
                                             class="col-md-4">
                                            <span class="h6 w-60 mx-auto px-4 py-1 rounded-bottom bg-primary text-white shadow-sm">{{plano.nome}}</span>
                                            <div class=" pt-0">
                                                <ul class="list-unstyled mb-4">
                                                    <table class="prices">
                                                        <tr>
                                                            <th class="prices_line">Serviço</th>
                                                            <th class="prices_line">Taxa</th>

                                                        </tr>
                                                        <tr>
                                                            <td class="prices_line">Débito</td>
                                                            <td class="prices_line">{{plano.taxa_debito}}%</td>
                                                        </tr>
                                                        <tr>
                                                            <td class="prices_line">Crédito</td>
                                                            <td class="prices_line">{{plano.taxa_credito}}%</td>

                                                        </tr>
                                                        <tr>
                                                            <td class="prices_line">Parcelado</td>
                                                            <td class="prices_line">{{plano.taxa_parcelado}}%</td>
                                                        </tr>

                                                        <tr>
                                                            <td class="prices_line">Tipo de contratação</td>
                                                            <td class="prices_line"><span class="badge badge-default">{{plano.tipo_contratacao}}</span>
                                                            </td>
                                                        </tr>

                                                        <tr>
                                                            <td class="prices_line">Adquirencia</td>
                                                            <td class="prices_line">{{plano.adquirencia}}</td>
                                                        </tr>

                                                        <tr>
                                                            <td class="prices_line">Equipamento</td>
                                                            <td class="prices_line">{{plano.produto.descricao}}</td>
                                                        </tr>
                                                    </table>
                                                </ul>
                                                <a href="/dashboard/edit-planos/{{plano.id}}" id="alterar_plano"
                                                   style="color:#fff" class="btn btn-primary mb-3">Alterar
                                                </a>
                                                <button id="excluir_plano"
                                                        data-toggle="modal"
                                                        data-target="#modal-exclusao-plan"
                                                        data-url="/dashboard/delete-plano/{{plano.id}}"
                                                        style="color:#fff" class="btn btn-danger mb-3">Excluir
                                                </button>
                                            </div>
                                        </div>
                                        {% if forloop.counter|divisibleby:2 %}

                                    </div>
                                    <div class="row"> {% endif %}
                                        {% if forloop.last %}
                                    </div>
                                    {% endif %}
                                    {%endfor%}

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Footer -->
        </div>
        <!-- Footer -->
    </div>

    <footer class="footer">
        <div class="row align-items-center justify-content-xl-between">
            <div class="col-xl-6">
                <div class="copyright text-center text-xl-left text-muted">
                    &copy; 2018 E2F
                </div>
            </div>
        </div>
    </footer>
</div>


<div class="modal fade" id="modal-exclusao-plan" tabindex="-1" role="dialog" aria-labelledby="modal-notification"
     aria-hidden="true">
    <div class="modal-dialog modal-danger modal-dialog-centered modal-" role="document">
        <div class="modal-content bg-gradient-danger">

            <div class="modal-header">
                <h6 class="modal-title" id="modal-title-notification">Esta ação requer sua atenção!</h6>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>

            <div class="modal-body">

                <div class="py-3 text-center">
                    <i class="ni ni-bell-55 ni-3x"></i>
                    <h4 class="heading mt-4">Você tem certeza disso?!</h4>
                    <p>Ao excluir este plano você não poderá voltar atrás!</p>
                </div>

            </div>

            <div class="modal-footer">
                <a type="button" style="color: #000" class="btn btn-white btn-certeza-plan">Tenho certeza!</a>
                <button type="button" class="btn btn-link text-white ml-auto" data-dismiss="modal">Cancelar</button>
            </div>

        </div>
    </div>
</div>
<div class="modal fade" id="modal-sucess" tabindex="-1" role="dialog" data-backdrop="static"
     aria-labelledby="exampleModalLabel">
    <div class="modal-dialog modal-dialog-centered" role="document">

        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="modal-title-default"></h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <br>
                <span style="font-weight: 700" id="titleError"></span> <br>
                <span id="fieldsError"></span>
            </div>
            <div class="modal-footer">
                <a href="/dashboard/merchants" type="button" id="btnOk" class="btn btn-primary">OK</a>
            </div>
        </div>
    </div>
</div>
</div>

</div>
<script>


</script>

{% endblock %}