{% extends 'dashboard/base.html' %}

{% block content %}
{% load static %}
<div class="main-content">
    <!-- Top navbar -->
    <nav class="navbar navbar-top navbar-expand-md navbar-dark" id="navbar-main">
        <div class="container-fluid">
            <!-- Brand -->
            <a class="h4 mb-0 text-white text-uppercase d-none d-lg-inline-block" href="#">Clientes</a>

            <!-- User -->
            {% include 'dashboard/menu_superior.html' %}
        </div>
    </nav>
    <!-- Header -->
    <div class="header bg-gradient-primary pb-8 pt-5 pt-md-8">

    </div>
    <!-- Page content -->
    <div class="container-fluid mt--7 painel-lucree">
        <div class="row mt-5">
            <div class="col-xl-12 mb-5 mb-xl-0">
                <div class="card shadow" style="background-color:#cecece">
                    <div class="card-header border-0">
                        <div class="row align-items-center">
                            <div class="col">
                                <h3 class="mb-0">{{ lojista.nome}} <br>
                                    Nº documento: {{ lojista.documento}}</h3>
                            </div>
                            {%if lojista.resultado_idwall == 'INVALID'%}
                            <div class="col text-right">
                                <button href="/dashboard/change-client/{{lojista.id}}/liberado/" type="button"
                                   class="btn btn-success aceitavel">Risco aceitável</button>
                                <button href="/dashboard/change-client/{{lojista.id}}/alto-risco/" type="button"
                                   class="btn btn-danger alto-risco">Alto risco</button>
                            </div>


                            <form method="POST" action="/dashboard/change-client/{{lojista.id}}" style="display:none" class="form-obs">
                                {% csrf_token %}
                                {{form.avaliacao}}
                                {{form.observacao}}
                                <button style="margin-top: 5px" type="submit" class="btn btn-info btn-sm">Enviar</button>
                            </form>


                            {%endif%}
                        </div>
                    </div>
                    <div class="col-md-12" style="padding-bottom: 10px">
                        <div class="row">
                            <ul class="nav flex-column col-md-3" style="background-color:#fff;padding-right: 0;">

                                <li class="nav-item">
                                    <a class="nav-link active" href="#" id="visao_geral_link"><i
                                            class="far fa-file fa-fw"></i> Visão geral</a>
                                </li>
                                {%if lojista.matriz_idwall == 'lucree_QSA_pj'%}
                                <li class="nav-item"
                                    style="{%if dict_regras.trtsp == 'VALID'%}background-color:#acff81{%else%}background-color:#f8ff81{%endif%}">
                                    <a class="nav-link" href="#" id="certidoes_link"><i
                                            class="far fa-file fa-fw"></i> Certidões</a>
                                </li>
                                {%endif%}
                                {%if lojista.matriz_idwall == 'lucree_QSA_pf'%}
                                <li class="nav-item"
                                    style="{%if dict_regras.cpf == 'VALID'%}background-color:#acff81{%else%}background-color:#f8ff81{%endif%}">
                                    <a class="nav-link" href="#" id="pessoa_link"><i class="fas fa-id-card fa-fw"></i>
                                        Cadastro de pessoa física </a>
                                </li>
                                {%else%}
                                <li class="nav-item"
                                    style="{%if dict_regras.divida == 'VALID'%}background-color:#acff81{%else%}background-color:#f8ff81{%endif%}">
                                    <a class="nav-link" href="#" id="pessoa_link"><i class="fas fa-id-card fa-fw"></i>
                                        Consulta pessoa jurídica </a>
                                </li>
                                {%endif%}
                                <li class="nav-item"
                                    style="{%if dict_regras.divida == 'VALID'%}background-color:#acff81{%else%}background-color:#f8ff81{%endif%}">
                                    <a class="nav-link" href="#" id="divida_link"><i
                                            class="fas fa-dollar-sign fa-fw"></i> Dívida ativa
                                        na
                                        fazenda</a>
                                </li>
                                <li class="nav-item"
                                    style="{%if dict_regras.protestos == 'VALID'%}background-color:#acff81{%else%}background-color:#f8ff81{%endif%}">
                                    <a class="nav-link" href="#" id="protesto_link"><i
                                            class="fas fa-dollar-sign fa-fw"></i> Protestos</a>
                                </li>
                                {%if lojista.matriz_idwall == 'lucree_QSA_pf'%}

                                {%else%}
                                <li class="nav-item"
                                    style="{%if dict_regras.sintegra == 'VALID'%}background-color:#acff81{%else%}background-color:#f8ff81{%endif%}">
                                    <a class="nav-link" href="#" id="sintegra_link"><i class="fas fa-id-card fa-fw"></i>
                                        Sintegra </a>
                                </li>
                                {%endif%}
                                <li class="nav-item">
                                    <a class="nav-link" href="#" id="email_link"><i class="fas fa-at fa-fw"></i> Emails</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#" id="endereco_link"><i class="fas fa-map-pin fa-fw"></i>
                                        Endereços</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#" id="relacoes_link"><i class="fas fa-users fa-fw"></i>
                                        Pessoas relacionadas</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#" id="telefones_link"><i class="fas fa-phone fa-fw"></i>
                                        Telefones</a>
                                </li>
                                {%if cessao%}
                                <li class="nav-item">
                                    <a class="nav-link" href="#" id="cessao_link"><i class="fas fa-id-card fa-fw"></i>
                                        Documento Cessão</a>
                                </li>
                                {%endif%}
                                <!--<li class="nav-item">-->
                                <!--<a class="nav-link" href="#" id="restricoes_link"><i-->
                                <!--class="fas fa-globe-americas fa-fw"></i> Lista de-->
                                <!--restrições internacionais</a>-->
                                <!--</li>-->


                            </ul>
                            <div class="col-md-9">
                                <div class="col-md-12" id="visao_geral" style="padding-top: 20px">


                                    <div class="table-responsive">
                                        <table class="table align-items-center" style="background-color:#ffffff">

                                            <thead>
                                            <tr>
                                                {%if validacao.resultado == 'INVALID'%}
                                                <th scope="col" style="background-color: #f8ff81;">
                                                    Status: Atenção <br>
                                                    {{validacao.mensagem}}
                                                </th>
                                                {%elif validacao.resultado == 'VALID'%}
                                                <th scope="col" style="background-color: #acff81;">
                                                    Status: OK <br>
                                                    Nenhum risco encontrado
                                                </th>
                                                {%endif%}
                                            </tr>
                                            </thead>
                                            <tbody>
                                            {%for item in itens_validacoes%}
                                            <tr>
                                                {%if item.resultado == 'INVALID'%}
                                                <td style="background-color: #f8ff81;">
                                                    {{item.nome}} ({{item.descricao}})
                                                </td>
                                                {%else%}
                                                <td>
                                                    {{item.nome}} ({{item.descricao}})
                                                </td>
                                                {%endif%}

                                            </tr>
                                            {%endfor%}

                                            </tbody>
                                        </table>

                                    </div>


                                </div>
                                <div class="col-md-12" id="certidoes" style="padding-top: 20px;">


                                    <div class="table-responsive">
                                        <table class="table align-items-center" style="background-color:#ffffff">
                                            <thead class="thead-light">
                                            <tr>
                                                <th scope="col">Fonte</th>
                                                <th scope="col">Nada consta</th>
                                                <th scope="col">Data de Emissão</th>
                                                <th scope="col">Protocolo</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            {%for certidao in certidoes%}
                                            <tr>

                                                <td>
                                                    {{certidao.fonte}}
                                                </td>
                                                <td>
                                                    {%if certidao.nada_consta%}
                                                    <i class="fas fa-check-circle"
                                                       style="color: #81bf65 !important;font-size: 20px;"></i>
                                                    {%else%}
                                                    <i class="fas fa-times-circle fa-fw"
                                                       style="color: #db3535 !important;font-size: 20px;"></i>
                                                    {%endif%}
                                                </td>
                                                <td>
                                                    {{certidao.emitido_em}}
                                                </td>
                                                <td class="text-right">
                                                    {{certidao.protocolo}}
                                                </td>
                                            </tr>
                                            {%endfor%}

                                            </tbody>
                                        </table>

                                    </div>


                                </div>
                                <div class="col-md-12" id="dados_pessoa" style="padding-top: 20px;">
                                    <div class="table-responsive">
                                        <table class="table align-items-center" style="background-color:#ffffff">

                                            <thead>
                                            <tr>

                                                <th scope="col" style="background-color:#F6F6F6">
                                                    {%if lojista.matriz_idwall == 'lucree_QSA_pj'%}
                                                    CONSULTA PESSOA JURÍDICA
                                                    {%else%}
                                                    CADASTRO PESSOA FÍSICA
                                                    {%endif%}
                                                </th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr>
                                                <td>
                                                    <span style="font-size: 15px;font-weight:700">Número</span>
                                                    <br>
                                                    <br>
                                                    {%if lojista.matriz_idwall == 'lucree_QSA_pj'%}
                                                    {{cnpj.numero}}
                                                    {%else%}
                                                    {{cpf.numero}}
                                                    {%endif%}
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <span style="font-size: 15px;font-weight:700">Nome {%if lojista.matriz_idwall == 'lucree_QSA_pj'%}empresárial{%endif%}</span>
                                                    <br>
                                                    <br>
                                                    {%if lojista.matriz_idwall == 'lucree_QSA_pj'%}
                                                    {{cnpj.nome_empresarial}}
                                                    {%else%}
                                                    {{cpf.nome}}
                                                    {%endif%}

                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <span style="font-size: 15px;font-weight:700">Grafias</span>
                                                    {%if lojista.matriz_idwall == 'lucree_QSA_pj'%}
                                                    {%for grafia in grafias%}
                                                    <br>
                                                    <br>

                                                    <div id="accordion">
                                                        <div class="card">
                                                            <div class="card-header" id="headingGrafia{{grafia.id}}"
                                                                 style="padding:0!important;">
                                                                <h5 class="mb-0">
                                                                    <button class="btn btn-link" data-toggle="collapse"
                                                                            data-target="#collapseGrafia{{grafia.id}}"
                                                                            aria-expanded="true"
                                                                            aria-controls="collapseGrafia{{grafia.id}}">
                                                                        {{grafia.grafia}}
                                                                    </button>
                                                                </h5>
                                                            </div>

                                                            <div id="collapseGrafia{{grafia.id}}" class="collapse"
                                                                 aria-labelledby="headingGrafia{{grafia.id}}"
                                                                 data-parent="#accordion">
                                                                <div class="card-body">
                                                                    {{grafia.grafia}}
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    {%empty%}
                                                    Sem grafias
                                                    {%endfor%}
                                                    {%else%}
                                                    <br>
                                                    <br>
                                                    {{cpf.grafia}}
                                                    {%endif%}
                                                </td>
                                            </tr>
                                            {%if lojista.matriz_idwall == 'lucree_QSA_pj'%}
                                            <tr>
                                                <td>
                                                    <span style="font-size: 15px;font-weight:700">Sócios</span>
                                                    <br>
                                                    <br>
                                                    {%for socio in socios%}
                                                    <div id="accordion">
                                                        <div class="card">
                                                            <div class="card-header" id="headingOne"
                                                                 style="padding:0!important;">
                                                                <h5 class="mb-0">
                                                                    <button class="btn btn-link" data-toggle="collapse"
                                                                            data-target="#collapseSocio{{socio.id}}"
                                                                            aria-expanded="true"
                                                                            aria-controls="collapseSocio{{socio.id}}">
                                                                        {{socio.nome}}
                                                                    </button>
                                                                </h5>
                                                            </div>

                                                            <div id="collapseSocio{{socio.id}}" class="collapse"
                                                                 aria-labelledby="headingOne" data-parent="#accordion">
                                                                <div class="card-body">
                                                                    {{socio.cargo}}
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    {%empty%}
                                                    Sem informação societária
                                                    {%endfor%}
                                                </td>
                                            </tr>
                                            {%endif%}

                                            {%if lojista.matriz_idwall == 'lucree_QSA_pj'%}
                                            <tr>
                                                <td>
                                                    <span style="font-size: 15px;font-weight:700">Natureza jurídica</span>
                                                    <br>
                                                    <br>
                                                    {{cnpj.natureza_juridica}}
                                                </td>
                                            </tr>
                                            {%endif%}

                                            {%if lojista.matriz_idwall == 'lucree_QSA_pj'%}
                                            <tr>
                                                <td>
                                                    <span style="font-size: 15px;font-weight:700">Atividade principal</span>
                                                    <br>
                                                    <br>
                                                    {{cnpj.atividade_principal}}
                                                </td>
                                            </tr>
                                            {%endif%}

                                            {%if lojista.matriz_idwall == 'lucree_QSA_pj'%}
                                            <tr>
                                                <td>
                                                    <span style="font-size: 15px;font-weight:700">Atividade principal</span>
                                                    <br>
                                                    <br>
                                                    {{cnpj.atividade_principal}}
                                                </td>
                                            </tr>
                                            {%endif%}

                                            {%if lojista.matriz_idwall == 'lucree_QSA_pj'%}
                                            <tr>
                                                <td>
                                                    <span style="font-size: 15px;font-weight:700">Cnaes secundários</span>
                                                    <br>
                                                    <br>
                                                    {%for cnaes in atividades_secundarias%}
                                                    {{cnaes.atividade}}
                                                    <br>
                                                    {%empty%}
                                                    Sem atividade secundárias
                                                    {%endfor%}
                                                </td>
                                            </tr>
                                            {%endif%}

                                            {%if lojista.matriz_idwall == 'lucree_QSA_pj'%}
                                            <tr>
                                                <td>
                                                    <span style="font-size: 15px;font-weight:700">Capital social</span>
                                                    <br>
                                                    <br>
                                                    R$ {{capital_social}}
                                                </td>
                                            </tr>
                                            {%endif%}

                                            {%if lojista.matriz_idwall == 'lucree_QSA_pj'%}
                                            <tr>
                                                <td>
                                                    <span style="font-size: 15px;font-weight:700">Data de abertura</span>
                                                    <br>
                                                    <br>
                                                    {{cnpj.data_abertura}}
                                                </td>
                                            </tr>
                                            {%endif%}

                                            {%if lojista.matriz_idwall == 'lucree_QSA_pj'%}
                                            <tr>
                                                <td>
                                                    <span style="font-size: 15px;font-weight:700">Situação cadastral</span>
                                                    <br>
                                                    <br>
                                                    {{cnpj.situacao_cadastral}}
                                                </td>
                                            </tr>
                                            {%endif%}

                                            {%if lojista.matriz_idwall == 'lucree_QSA_pj'%}
                                            <tr>
                                                <td>
                                                    <span style="font-size: 15px;font-weight:700">Data situação cadastral</span>
                                                    <br>
                                                    <br>
                                                    {{cnpj.data_situacao_cadastral}}
                                                </td>
                                            </tr>
                                            {%endif%}


                                            {%if lojista.matriz_idwall == 'lucree_QSA_pj'%}
                                            <tr>
                                                <td>
                                                    <span style="font-size: 15px;font-weight:700">Email</span>
                                                    <br>
                                                    <br>
                                                    {{cnpj.email}}
                                                </td>
                                            </tr>
                                            {%endif%}

                                            {%if lojista.matriz_idwall == 'lucree_QSA_pj'%}
                                            <tr>
                                                <td>
                                                    <span style="font-size: 15px;font-weight:700">Telefone</span>
                                                    <br>
                                                    <br>
                                                    {{cnpj.telefone}}
                                                </td>
                                            </tr>
                                            {%endif%}

                                            {%if lojista.matriz_idwall == 'lucree_QSA_pj'%}
                                            <tr>
                                                <td>
                                                    <span style="font-size: 15px;font-weight:700">CNPJ</span>
                                                    <br>
                                                    <br>
                                                    {{cnpj.cnpj}}
                                                </td>
                                            </tr>
                                            {%endif%}

                                            {%if lojista.matriz_idwall == 'lucree_QSA_pj'%}
                                            <tr>
                                                <td>
                                                    <span style="font-size: 15px;font-weight:700">Status IRS</span>
                                                    <br>
                                                    <br>
                                                    {{cnpj.irs_status}}
                                                </td>
                                            </tr>
                                            {%endif%}

                                            {%if lojista.matriz_idwall == 'lucree_QSA_pj'%}
                                            <tr>
                                                <td>
                                                    <span style="font-size: 15px;font-weight:700">Regime tributário</span>
                                                    <br>
                                                    <br>
                                                    {{cnpj.regime_tributario}}
                                                </td>
                                            </tr>
                                            {%endif%}

                                            {%if lojista.matriz_idwall == 'lucree_QSA_pj'%}
                                            <tr>
                                                <td>
                                                    <span style="font-size: 15px;font-weight:700">Faturamento presumido</span>
                                                    <br>
                                                    <br>
                                                    {{cnpj.faturamento_presumido}}
                                                </td>
                                            </tr>
                                            {%endif%}

                                            {%if lojista.matriz_idwall == 'lucree_QSA_pj'%}
                                            <tr>
                                                <td>
                                                    <span style="font-size: 15px;font-weight:700">Número de funcionários</span>
                                                    <br>
                                                    <br>
                                                    {{cnpj.numero_funcionarios}}
                                                </td>
                                            </tr>
                                            {%endif%}

                                            {%if lojista.matriz_idwall == 'lucree_QSA_pj'%}
                                            <tr>
                                                <td>
                                                    <span style="font-size: 15px;font-weight:700">Funcionários em filiais</span>
                                                    <br>
                                                    <br>
                                                    {{cnpj.numero_funcionarios_filiais}}
                                                </td>
                                            </tr>
                                            {%endif%}


                                            {%if lojista.matriz_idwall == 'lucree_QSA_pj'%}
                                            <tr>
                                                <td>
                                                    <span style="font-size: 15px;font-weight:700">Localização</span>
                                                    <br>
                                                    <br>

                                                    <div id="accordion">
                                                        <div class="card">
                                                            <div class="card-header" id="headingOne"
                                                                 style="padding:0!important;">
                                                                <h5 class="mb-0">
                                                                    <button class="btn btn-link" data-toggle="collapse"
                                                                            data-target="#collapseSocio{{socio.id}}"
                                                                            aria-expanded="true"
                                                                            aria-controls="collapseSocio{{socio.id}}">
                                                                        Localização
                                                                    </button>
                                                                </h5>
                                                            </div>

                                                            <div id="collapseSocio{{socio.id}}" class="collapse"
                                                                 aria-labelledby="headingOne" data-parent="#accordion">
                                                                <div class="card-body">
                                                                    <table style="width: 500px;">
                                                                        <tr>
                                                                            <td>
                                                                                Logradouro
                                                                            </td>
                                                                            <td>
                                                                                {{cnpj.localizacao_logradouro}}
                                                                            </td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td>
                                                                                Número
                                                                            </td>
                                                                            <td>
                                                                                {{cnpj.localizacao_numero}}
                                                                            </td>
                                                                        </tr>

                                                                        <tr>
                                                                            <td>
                                                                                Complemento
                                                                            </td>
                                                                            <td>
                                                                                {{cnpj.localizacao_complemento}}
                                                                            </td>
                                                                        </tr>

                                                                        <tr>
                                                                            <td>
                                                                                Bairro
                                                                            </td>
                                                                            <td>
                                                                                {{cnpj.localizacao_bairro}}
                                                                            </td>
                                                                        </tr>

                                                                        <tr>
                                                                            <td>
                                                                                Cidade
                                                                            </td>
                                                                            <td>
                                                                                {{cnpj.localizacao_cidade}}
                                                                            </td>
                                                                        </tr>

                                                                        <tr>
                                                                            <td>
                                                                                Estado
                                                                            </td>
                                                                            <td>
                                                                                {{cnpj.localizacao_estado}}
                                                                            </td>
                                                                        </tr>

                                                                        <tr>
                                                                            <td>
                                                                                CEP
                                                                            </td>
                                                                            <td>
                                                                                {{cnpj.localizacao_cep}}
                                                                            </td>
                                                                        </tr>
                                                                    </table>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                </td>
                                            </tr>
                                            {%endif%}


                                            {%if lojista.matriz_idwall == 'lucree_QSA_pf'%}
                                            <tr>
                                                <td>
                                                    <span style="font-size: 15px;font-weight:700">Data de nascimento</span>
                                                    <br>
                                                    <br>
                                                    {{cpf.data_de_nascimento}}
                                                </td>
                                            </tr>
                                            {%endif%}


                                            {%if lojista.matriz_idwall == 'lucree_QSA_pf'%}
                                            <tr>
                                                <td>
                                                    <span style="font-size: 15px;font-weight:700">Data de inscrição do CPF</span>
                                                    <br>
                                                    <br>
                                                    {{cpf.cpf_data_de_inscricao}}
                                                </td>
                                            </tr>
                                            {%endif%}

                                            {%if lojista.matriz_idwall == 'lucree_QSA_pf'%}
                                            <tr>
                                                <td>
                                                    <span style="font-size: 15px;font-weight:700">Situação Cadastral</span>
                                                    <br>
                                                    <br>
                                                    {{cpf.cpf_data_de_inscricao}}
                                                </td>
                                            </tr>
                                            {%endif%}

                                            {%if lojista.matriz_idwall == 'lucree_QSA_pf'%}
                                            <tr>
                                                <td>
                                                    <span style="font-size: 15px;font-weight:700">Renda</span>
                                                    <br>
                                                    <br>
                                                    {{cpf.renda}}
                                                </td>
                                            </tr>
                                            {%endif%}


                                            {%if lojista.matriz_idwall == 'lucree_QSA_pf'%}
                                            <tr>
                                                <td>
                                                    <span style="font-size: 15px;font-weight:700">Sexo</span>
                                                    <br>
                                                    <br>
                                                    {{cpf.sexo}}
                                                </td>
                                            </tr>
                                            {%endif%}


                                            {%if lojista.matriz_idwall == 'lucree_QSA_pf'%}
                                            <tr>
                                                <td>
                                                    <span style="font-size: 15px;font-weight:700">Situação imposto de renda</span>
                                                    <br>
                                                    <br>
                                                    {{cpf.situacao_imposto_de_renda}}
                                                </td>
                                            </tr>
                                            {%endif%}


                                            </tbody>
                                        </table>

                                    </div>
                                </div>
                                <div class="col-md-12" id="divida_ativa" style="padding-top: 20px;">
                                    <div class="table-responsive">
                                        <table class="table align-items-center" style="background-color:#ffffff">
                                            <thead class="thead-light">
                                            <tr>
                                                <th scope="col">Nome</th>
                                                <th scope="col">Valor devido</th>

                                            </tr>
                                            </thead>
                                            <tbody>
                                            {%for divida in divida_ativa%}
                                            <tr>

                                                <td>
                                                    {{divida.nome}}
                                                </td>
                                                <td>
                                                    {{divida.valor_devido}} reais
                                                </td>

                                            </tr>
                                            {%endfor%}

                                            </tbody>
                                        </table>

                                    </div>
                                </div>
                                <div class="col-md-12" id="protestos" style="padding-top: 20px;">
                                    <div class="table-responsive">
                                        <table class="table align-items-center" style="background-color:#ffffff">
                                            <thead class="thead-light">
                                            <tr>
                                                <th scope="col">Estado com protestos</th>

                                            </tr>
                                            </thead>
                                            <tbody>
                                            {%for protesto in protestos%}
                                            <tr>

                                                <td>
                                                    {{protesto.estado_protesto}}
                                                </td>


                                            </tr>
                                            {%endfor%}

                                            </tbody>
                                        </table>

                                    </div>
                                </div>
                                <div class="col-md-12" id="emails" style="padding-top: 20px;">
                                    <div class="table-responsive">
                                        <table class="table align-items-center" style="background-color:#ffffff">
                                            <thead class="thead-light">
                                            <tr>
                                                <th scope="col">Email</th>

                                            </tr>
                                            </thead>
                                            <tbody>
                                            {%for email in emails%}
                                            <tr>

                                                <td>
                                                    {{email.endereco}}
                                                </td>


                                            </tr>
                                            {%endfor%}

                                            </tbody>
                                        </table>

                                    </div>

                                </div>
                                <div class="col-md-12" id="enderecos" style="padding-top: 20px;">
                                    {%for endereco in enderecos%}
                                    <div id="accordion">
                                        <div class="card">
                                            <div class="card-header" id="headingOne"
                                                 style="padding:0!important;">
                                                <h5 class="mb-0">
                                                    <button class="btn btn-link" data-toggle="collapse"
                                                            data-target="#collapseEndereco{{endereco.id}}"
                                                            aria-expanded="true"
                                                            aria-controls="collapseEndereco{{endereco.id}}">
                                                        Localização
                                                    </button>
                                                </h5>
                                            </div>

                                            <div id="collapseEndereco{{endereco.id}}" class="collapse"
                                                 aria-labelledby="headingOne" data-parent="#accordion">
                                                <div class="card-body">
                                                    <table style="width: 500px;">
                                                        <tr>
                                                            <td>
                                                                Logradouro
                                                            </td>
                                                            <td>
                                                                {{endereco.logradouro}}
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td>
                                                                Número
                                                            </td>
                                                            <td>
                                                                {{endereco.numero}}
                                                            </td>
                                                        </tr>

                                                        <tr>
                                                            <td>
                                                                Complemento
                                                            </td>
                                                            <td>
                                                                {{endereco.complemento}}
                                                            </td>
                                                        </tr>

                                                        <tr>
                                                            <td>
                                                                Bairro
                                                            </td>
                                                            <td>
                                                                {{endereco.bairro}}
                                                            </td>
                                                        </tr>

                                                        <tr>
                                                            <td>
                                                                Cidade
                                                            </td>
                                                            <td>
                                                                {{endereco.cidade}}
                                                            </td>
                                                        </tr>

                                                        <tr>
                                                            <td>
                                                                Estado
                                                            </td>
                                                            <td>
                                                                {{endereco.estado}}
                                                            </td>
                                                        </tr>

                                                        <tr>
                                                            <td>
                                                                CEP
                                                            </td>
                                                            <td>
                                                                {{endereco.cep}}
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    {%empty%}

                                    {%endfor%}
                                </div>
                                <div class="col-md-12" id="pessoas_relacionadas" style="padding-top: 20px;">
                                    {%for pessoa in pessoas_relacionadas%}
                                    <div id="accordion">
                                        <div class="card">
                                            <div class="card-header" id="headingOne"
                                                 style="padding:0!important;">
                                                <h5 class="mb-0">
                                                    <button class="btn btn-link" data-toggle="collapse"
                                                            data-target="#collapsePessoa{{pessoa.id}}"
                                                            aria-expanded="true"
                                                            aria-controls="collapsePessoa{{pessoa.id}}">
                                                        {{pessoa.nome}}
                                                    </button>
                                                </h5>
                                            </div>

                                            <div id="collapsePessoa{{pessoa.id}}" class="collapse"
                                                 aria-labelledby="headingOne" data-parent="#accordion">
                                                <div class="card-body">
                                                    <table style="width: 500px;">
                                                        <tr>
                                                            <td>
                                                                Nome
                                                            </td>
                                                            <td>
                                                                {{pessoa.nome}}
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td>
                                                                CPF
                                                            </td>
                                                            <td>
                                                                {{pessoa.cpf}}
                                                            </td>
                                                        </tr>

                                                        <tr>
                                                            <td>
                                                                Cargo
                                                            </td>
                                                            <td>
                                                                {{pessoa.cargo}}
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    {%empty%}
                                    Sem informação societária
                                    {%endfor%}
                                </div>
                                <div class="col-md-12" id="telefones" style="padding-top: 20px;">
                                    {%for telefone in telefones%}
                                    <div id="accordion">
                                        <div class="card">
                                            <div class="card-header" id="headingOne"
                                                 style="padding:0!important;">
                                                <h5 class="mb-0">
                                                    <button class="btn btn-link" data-toggle="collapse"
                                                            data-target="#collapseTelefone{{telefone.id}}"
                                                            aria-expanded="true"
                                                            aria-controls="collapseTelefone{{telefone.id}}">
                                                        ({{telefone.fone_ddd}}) {{telefone.fone_numero}}
                                                    </button>
                                                </h5>
                                            </div>

                                            <div id="collapseTelefone{{telefone.id}}" class="collapse"
                                                 aria-labelledby="headingOne" data-parent="#accordion">
                                                <div class="card-body">
                                                    <table style="width: 500px;">
                                                        <tr>
                                                            <td>
                                                                Principal
                                                            </td>
                                                            <td>
                                                                {%if telefone.principal%}
                                                                Sim
                                                                {%else%}
                                                                Não
                                                                {%endif%}
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td>
                                                                DDD
                                                            </td>
                                                            <td>
                                                                {{telefone.fone_ddd}}
                                                            </td>
                                                        </tr>

                                                        <tr>
                                                            <td>
                                                                Número
                                                            </td>
                                                            <td>
                                                                {{telefone.fone_numero}}
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td>
                                                                Tipo Assinatura
                                                            </td>
                                                            <td>
                                                                {{telefone.tipo_assinante}}
                                                            </td>
                                                        </tr>

                                                        <tr>
                                                            <td>
                                                                Pessoas com o mesmo telefone
                                                            </td>
                                                            <td>
                                                                {{telefone.pessoas_com_o_mesmo_telefone}}
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    {%empty%}
                                    Sem informação telefonica
                                    {%endfor%}
                                </div>
                                <div class="col-md-12" id="sintegra" style="padding-top: 20px;">
                                    <div class="table-responsive">
                                        <table class="table align-items-center" style="background-color:#ffffff">

                                            <thead>
                                            <tr>

                                                <th scope="col">
                                                    {{sintegra.razao_social}}
                                                </th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr>
                                                <td>
                                                    <span style="font-size: 15px;font-weight:700">CNPJ</span>
                                                    <br>
                                                    <br>
                                                    {{sintegra.cnpj}}
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <span style="font-size: 15px;font-weight:700">Inscrição estadual</span>
                                                    <br>
                                                    <br>
                                                    {{sintegra.inscricao_estadual}}
                                                </td>
                                            </tr>

                                            <tr>
                                                <td>
                                                    <span style="font-size: 15px;font-weight:700">Razão social</span>
                                                    <br>
                                                    <br>
                                                    {{sintegra.razao_social}}
                                                </td>
                                            </tr>

                                            <tr>
                                                <td>
                                                    <span style="font-size: 15px;font-weight:700">Cnae principal</span>
                                                    <br>
                                                    <br>
                                                    {{sintegra.cnae_principal}}
                                                </td>
                                            </tr>

                                            <tr>
                                                <td>
                                                    <span style="font-size: 15px;font-weight:700">Situação cadastral vigente</span>
                                                    <br>
                                                    <br>
                                                    {{sintegra.situacao_cadastral_vigente}}
                                                </td>
                                            </tr>

                                            <tr>
                                                <td>
                                                    <span style="font-size: 15px;font-weight:700">Data situação cadastral</span>
                                                    <br>
                                                    <br>
                                                    {{sintegra.data_situacao_cadastral}}
                                                </td>
                                            </tr>

                                            <tr>
                                                <td>
                                                    <span style="font-size: 15px;font-weight:700">Regime apuração</span>
                                                    <br>
                                                    <br>
                                                    {{sintegra.regime_apuracao}}
                                                </td>
                                            </tr>

                                            <tr>
                                                <td>
                                                    <span style="font-size: 15px;font-weight:700">Data obrigatoriedade NFE</span>
                                                    <br>
                                                    <br>
                                                    {{sintegra.data_obrigatoriedade_nfe}}
                                                </td>
                                            </tr>

                                            <tr>
                                                <td>
                                                    <span style="font-size: 15px;font-weight:700">UF</span>
                                                    <br>
                                                    <br>
                                                    {{sintegra.uf}}
                                                </td>
                                            </tr>


                                            <tr>
                                                <td>
                                                    <span style="font-size: 15px;font-weight:700">Atividades secundárias</span>
                                                    <br>
                                                    <br>
                                                    {%for cnaes in sintegra_atividades_secundarias%}
                                                    {{cnaes.codigo}} {{cnaes.descricao}}
                                                    <br>
                                                    {%empty%}
                                                    Sem atividade secundárias
                                                    {%endfor%}
                                                </td>
                                            </tr>


                                            </tbody>
                                        </table>

                                    </div>
                                </div>

                                <div class="col-md-12" id="cessao" style="padding-top: 20px;">
                                    {%if cessao%}
                                    <img src="{{cessao}}">
                                    {%endif%}
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Footer -->
        <footer class="footer">
            <div class="row align-items-center justify-content-xl-between">
                <div class="col-xl-6">
                    <div class="copyright text-center text-xl-left text-muted">
                        &copy; 2018 E2F
                    </div>
                </div>
            </div>
        </footer>
    </div>
</div>

{% endblock %}