{% extends 'dashboard/base.html' %}

{% block content %}
{% load static %}
<div class="main-content">
    <!-- Top navbar -->
    <nav class="navbar navbar-top navbar-expand-md navbar-dark" id="navbar-main">
        <div class="container-fluid">
            <!-- Brand -->
            <a class="h4 mb-0 text-white text-uppercase d-none d-lg-inline-block" href="#">Clientes</a>

            {% include 'dashboard/menu_superior.html' %}
        </div>
    </nav>
    <!-- Header -->
    <div class="header bg-gradient-primary pb-8 pt-5 pt-md-8">

    </div>
    <!-- Page content -->
    <div class="container-fluid mt--7 painel-lucree">
        <div class="row mt-5">
            <div class="col-xl-12 mb-5 mb-xl-0">
                <div class="card shadow" style="background-color:#cecece">

                    <div class="col-md-12" style="padding-top:20px">
                        <div class="alert alert-danger">
                            <strong>Falha ao visualizar. Descrição da falha: {{error}}</strong>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Footer -->
        <footer class="footer">
            <div class="row align-items-center justify-content-xl-between">
                <div class="col-xl-6">
                    <div class="copyright text-center text-xl-left text-muted">
                        &copy; 2018 E2F
                    </div>
                </div>
            </div>
        </footer>
    </div>
</div>

{% endblock %}