{% extends 'dashboard/base.html' %}

{% block content %}
{% load static %}
<div class="main-content">
    <!-- Top navbar -->
    <nav class="navbar navbar-top navbar-expand-md navbar-dark" id="navbar-main">
        <div class="container-fluid">
            <!-- Brand -->
            <a class="h4 mb-0 text-white text-uppercase d-none d-lg-inline-block" href="#">Terminais</a>

            {% include 'dashboard/menu_superior.html' %}
        </div>
    </nav>
    <!-- Header -->
    <div class="header bg-gradient-primary pb-8 pt-5 pt-md-8">
        <div class="container-fluid">
            <div class="header-body">
                <!-- Card stats -->

                <div class="row">
                    <img alt="Image placeholder" src="{% static 'dashboard/assets/img/paystore.png' %}" style="width: 180px;height: 45px;margin-left: 20px;margin-bottom:10px">
                    <img alt="Image placeholder" src="{% static 'dashboard/assets/img/logo_foward.png' %}" style="width: 100px;height: 45px;margin-left: 20px;margin-bottom:10px">
                </div>
            </div>
        </div>
    </div>
    <!-- Page content -->

    <div class="container-fluid mt--7 painel-lucree">
        <div class="row mt-5">
            <div class="col-xl-12 mb-5 mb-xl-0">
                <div class="card shadow">
                    <div class="card-header border-0">
                        <div class="row align-items-center">
                            <div class="col">
                                <h3 class="mb-0">Terminais</h3>
                            </div>
                        </div>
                    </div>
                    {% if error %}
                    <div class="alert alert-danger" role="alert" style="margin: 10px;">
                        {{error}}
                    </div>
                    {% else %}
                    <div class="table-responsive" style="background-color: #e9e9e9;padding: 30px;">
                        <!-- Projects table -->
                        <table id="example" class="display" style="width:100%">
                            <thead>
                                <tr>
                                    <th >TID</th>
                                    <th >MID</th>
                                    <th >Pertence a</th>

                                </tr>
                            </thead>
                            <tbody>
                                {% for terminal in terminals %}
                                <tr>
                                    <td>
                                        {{terminal.terminal_id.terminal_id_physical}}
                                    </td>
                                    <td>
                                        {{terminal.terminal_id.terminal_id_logical}}
                                    </td>
                                    <td>
                                        {{terminal.lojista_id.nome}}
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                            <tfoot>
                                <tr>
                                    <th >TID</th>
                                    <th >MID</th>
                                    <th >Pertence a</th>

                                </tr>
                                </tfoot>
                        </table>
                    </div>
                    {% endif %}

                </div>
            </div>
        </div>
        <!-- Footer -->
        <footer class="footer">
            <div class="row align-items-center justify-content-xl-between">
                <div class="col-xl-6">
                    <div class="copyright text-center text-xl-left text-muted">
                        &copy; 2018 E2F
                    </div>
                </div>
            </div>
        </footer>
    </div>
    <!--<div class="container-fluid mt&#45;&#45;7 painel-lucree">-->
        <!--<div class="row mt-5">-->
            <!--<div class="col-xl-12 mb-5 mb-xl-0">-->
                <!--<div class="card shadow">-->
                    <!--<div class="card-header border-0">-->
                        <!--<div class="row align-items-center">-->
                            <!--<div class="col">-->
                                <!--<h3 class="mb-0">Terminais</h3>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                    <!--{% if error %}-->
                    <!--<div class="alert alert-danger" role="alert" style="margin: 10px;">-->
                        <!--{{error}}-->
                    <!--</div>-->
                    <!--{% else %}-->
                    <!--<div class="table-responsive">-->
                        <!--&lt;!&ndash; Projects table &ndash;&gt;-->
                        <!--<table class="table align-items-center table-flush">-->
                            <!--<thead class="thead-light">-->
                                <!--<tr>-->
                                    <!--<th scope="col">Terminais</th>-->
                                    <!--<th scope="col">Lojista</th>-->
                                    <!--<th scope="col">Status</th>-->
                                    <!--<th scope="col">Equipamento</th>-->
                                    <!--<th scope="col">Token de ativação</th>-->
                                <!--</tr>-->
                            <!--</thead>-->
                            <!--<tbody>-->

                                <!--{% if terminals.total_elements %}-->
                                <!--{% for terminal in terminals.content %}-->
                                <!--<tr>-->
                                    <!--<th scope="row">-->
                                        <!--{{terminal.terminal}}-->
                                    <!--</th>-->
                                    <!--<td>-->
                                        <!--{{terminal.merchant}}-->
                                    <!--</td>-->
                                    <!--<td>-->
                                        <!--{% if terminal.status == 'A ser instalado' %}-->
                                        <!--<span class="badge badge-info">{{terminal.status}}</span>-->
                                        <!--{% elif terminal.status == 'Instalado' %}-->
                                        <!--<span class="badge badge-success">{{terminal.status}}</span>-->
                                        <!--{% else %}-->
                                        <!--<span class="badge badge-default">{{terminal.status}}</span>-->
                                        <!--{% endif %}-->
                                    <!--</td>-->
                                    <!--<td>-->
                                        <!--{{terminal.communication_profile}}-->
                                    <!--</td>-->

                                    <!--<td>-->
                                        <!--{% if terminal.initialization_token %}-->
                                            <!--<span class="badge badge-success" style="font-size:12px">{{terminal.initialization_token.token}}</span>-->
                                        <!--{% else %}-->
                                            <!--<span class="badge badge-danger" style="font-size:12px">Terminal não ativo</span>    -->
                                        <!--{% endif %}-->
                                    <!--</td>-->

                                <!--</tr>-->
                                <!--{% endfor %}-->
                                <!--{% else %}-->
                                <!--{% endif %}-->
                            <!--</tbody>-->
                        <!--</table>-->
                    <!--</div>-->
                    <!--{% endif %}-->

                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
        <!--&lt;!&ndash; Footer &ndash;&gt;-->
        <!--<footer class="footer">-->
            <!--<div class="row align-items-center justify-content-xl-between">-->
                <!--<div class="col-xl-6">-->
                    <!--<div class="copyright text-center text-xl-left text-muted">-->
                        <!--&copy; 2018 E2F-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
        <!--</footer>-->
    <!--</div>-->
</div>

{% endblock %}